
.gallery {
  column-count: 3;
  column-width: 33%;
}

.gallery .pics {
  transition: all 350ms ease;
}

.gallery .animation {
  transform: scale(1);
}

@media (max-width: 450px) {
  .gallery {
    column-count: 1;
    column-width: 100%;
  }
}

@media (max-width: 400px) {
  .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
}

