* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	min-height: 100%;
}

body {
	font-size: 100%;
	font-family: $font;
	color:$letter;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;

}

.letter-up {
	text-transform: capitalize;
}