.form-sign {
	background-image:linear-gradient(to top, rgba(52,35,170,41), rgba(52,35,170,0.39)),
	url("../img/bg.jpg");
	margin: 0 auto;
	min-width:320px;
	max-width:400px;
	padding: 40px 70px;
	box-shadow: 2px 2px 17px black;

	&__label,
	&__bt {
		display: block;
	}

	&__label {
		font-weight: 700;
		font-size: 16px;
		margin-bottom: 16px;
	}

	&__checkbox {
		display: none;
	}

	&__input {
		display: block;
		width: 100%;
		height: 40px;
		line-height: 1.2;
		color:$letter;
		background: transparent;
		border:2px solid #b9b9cc;
		padding: 0 15px;
	}

	&__bt {
		width: 100%;
		font-size: 18px;
		font-weight: 400;
		background-color: $button;
		margin-bottom: 33px;
		color: $letter;
		padding:12px 100px;
		cursor: pointer;

		&:hover {
			background-color: lighten($button, 7%);
		}
	}

}

.form-sign__header {
	display: flex;
	margin-bottom:60px;

	&-menu {
		display: flex;
		list-style: none;
		justify-content: flex-start;
	}

	&-link {
		display: inline-block;
		color: $letter;
		cursor: pointer;
		line-height: 1.5;
		text-decoration: none;
		font-weight: 700;
		font-size: 18px;

		&:after {
			display: block;
			width: 0;
			height: 3px;
			background-color: #e68681;
			content: "";
			transition: width 0.3s ease-out;
		}

		&:focus:after,
		&:hover:after {
			width: 100%;
		}
	}

	&-item:not(:last-child) {
		margin-right: 30px;
	}
}

.pass_span {
	display: block;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 16px;
}

.down {
	margin-bottom: 40px;
	height: 20px;
	line-height: 20px;
	display: flex;
	align-items: center;
}

.fake-label {
	height: 16px;
	width: 16px;
	border: 1px solid gray;
	display: inline-block;
	background-color:$button;
	border-radius:2px;
	margin-right: 10px;
}

[type=checkbox]:checked + .fake-label:before {
	display: flex;
	position: relative;
	content: '\2714';
	top: -3px;
	left: 2px;
	font-size: 15px;
	color:#fff;
}

.form-sign__footer-menu {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.form-sign__footer-link {
	font-size: 13px;
	font-weight: 400;
	color: $letter;
	opacity: .5;

	&:hover {
		color: lighten($button, 10%);
	}
}