.form-sign {
	background-image:linear-gradient(to top, rgba(52,35,170,41), rgba(52,35,170,0.39)),
	url("../img/bg.jpg");
	margin: 0 auto;
	min-width:320px;
	max-width:400px;
	padding: 40px 70px;
	box-shadow: 2px 2px 17px black;
}

.form-sign__header {
	display: flex;
	padding-bottom:60px;
}

.form-sign__header-menu {
	display: flex;
	list-style: none;
	justify-content: flex-start;
}

.form-sing__header-link {
	display: inline-flex;
	position: relative;
	color: $letter; /*задаём цвет ссылки*/
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/
	font-weight: 900;


	// display: inline-block;
	// text-decoration: none;
	// color: $letter;
	// line-height: 1;
	// font-weight: 700;
	// font-size: 18px;
	// cursor: pointer;


	// display: inline-block;
	// 	color: $menu;
	// 	line-height: 1;
	// 	text-decoration: none;
	// 	cursor: pointer;
	// 	font-weight: 900;

	&-link:after {
		display: block;
		position: absolute;
		left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
		width: 0;/*задаём длинну линии до наведения курсора*/
		height: 2px; /*задаём ширину линии*/
		background-color: red; /*задаём цвет линии*/
		content: "";
		transition: width 0.3s ease-out; /*задаём время анимации*/



		// background-color: $line-menu;
		// display: block;
		// content: "";
		// height: 4px;
		// width: 0%;
		// -webkit-transition: width .3s ease-in-out;
		// -moz--transition: width .3s ease-in-out;
		// transition: width .3s ease-in-out;
	}

	&-link:hover:after,
	&-link:focus:after {
		width: 100%;
	}
}

.form-sing__header-item:not(:last-child) {
	margin-right: 30px;
}


.pass_span {
	display: block;
	margin-bottom: 10px;
}

.form-sing__label,
.form-sing__bt {
	display: block;
}

.form-sing__label {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 16px;
}

.form-sing__input {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 1.2;
	color:$letter;
	background: transparent;
	border:2px solid #b9b9cc;
	padding: 0 15px;

}

.form-sing__bt {
	width: 100%;
	font-size: 18px;
	font-weight: 400;
	background-color: $button;
	margin-bottom: 33px;
	color: $letter;
	padding:12px 100px;
	cursor: pointer;

	&:hover {
		background-color: lighten($button, 7%);
	}
}

.form-sing__checkbox {
	display: none;/* <--скрываем дефолтный чекбокс */
}

.checkbox-new {/* <-- стилизируем новый */
	height: 15px;
	width: 15px;
	border: 1px solid gray;
	display: flex;
	position: relative;
	background-color:$button;
	border-radius:2px;
	padding:3px;
}

[type=checkbox]:checked + .checkbox-new:before {/* <-- ставим иконку, когда чекбокс включен  */
	content: '\2714';
	position: absolute;
	top: -5px;
	left: 0;
	font-size:18px;
	color:#fff;
}

.form_sign-footer-menu {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.form_sing-footer-link {
	font-size: 13px;
	font-weight: 400;
	color: $letter;

	&:hover {
		color: lighten($button, 10%);
	}
}