* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

html,body {
	height: 100%;
}

body {
	width: 100%;
	margin:0 auto;
	background:#990909;
}

.site-header {
	display: block;
	text-align: center;
	padding:20px 0 10px;
}

.navigation {
	background-color: black;
	padding: 20px 0 5px;
	text-align: center;
}

.navigation__list {
	display: inline-block;
	list-style: none;
}

.navigation__link {
	display: block;
	font-size: 0;
}

.navigation__pic {
	width: 65%;
}

.navigation__cap {
	color: white;
	text-transform: capitalize;
	font-size: 18px;
}

.side-left {
	width: 30%;
	height: 100%;
	background-color:#7D0909;
}

.content {
	width: 50%;

}

.general {
	display: flex;
	justify-content: all;
}

.side-right {
	width: 15%;
	height: 100%;
	background-color:#E3DDDD;
}