* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body {
	height: 100%;
}
body {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	color: white;
	border: 20px solid #1E7EAE;
	font-family: “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding:0 15px;
	margin: 0 auto;
	text-transform: capitalize;
	background: #268EC4;
	height: 100%;
}

.title {
	margin-bottom: 20px;
	font-size: 25px;
}

.weath {
	width: 100%;
	max-width: 1200px;
	list-style: none;
	text-align: center;
	font-size: 0;
	margin-bottom: 20px;
}

.weath__li {
	display: inline-block;
}

.weath__a {
	display: block;
	padding: 40px 25px 40px ;
	text-decoration: none;
	font-size: 20px;
	color: white;
	border: 2px solid white;
}

.weath:hover {
	opacity: 0.5;
}


.wi {
	padding-left: 20px;
}

.blue {
	background-color:#2596C8;
}

.lightblue{
	background-color: #28BDCA;
}

.siren {
	background-color: #977096;
}

.red {
	background-color: #C75346;
}

.orange {
	background-color: #EA7248;
}

.yellow {
	background-color: #FFCC62;
}

.lightgreen {
	background-color: #97C39A;
}

.gray {
	background-color: #619591;
}

.roze {
	background-color: #2A8C65;
}

.green {
	background-color: #D07395;
}

.fiolet {
	background-color:#656898;
}

li.fifty {
	width: 50%;
}

li.twfive {
	width: 25%;
}

li.hundred {
	width: 100%;
}
