* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body {
	height: 100%;

}

body {
	width: 100%;
	margin: 0 auto;
	color: white;
	font-family: “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
	background: #268EC4;
}

.container {
	width: 100%;
	max-width: 960px;
	padding:20px 15px;
	margin: 0 auto;
}

.title {
	margin-bottom: 20px;
	font-size: 25px;
}

.upper {
	text-transform: uppercase;
}

.capital {
	text-transform: capitalize;
	margin-right: 20px;
}

.weath {
	display: inline-block;
	width: 100%;
	max-width: 960px;
	list-style: none;
	text-align: center;
	font-size: 0;
	margin-bottom: 20px;
}

.weath__li {
	display: inline-block;
}

.weath__a {
	display: inline-block;
	width: 100%;
	padding: 20px 0 20px;
	text-decoration: none;
	font-size: 18px;
	color: white;
	text-transform: capitalize;
	border: 1px solid white;
}

.weath:hover .weath__a {
	opacity: .45;
}

.weath .weath__a:hover {
	opacity: 1;
}

.blue {
	background-color:#2596C8;
}

.lightblue {
	background-color: #28BDCA;
}

.siren {
	background-color: #977096;
}

.red {
	background-color: #C75346;
}

.orange {
	background-color: #EA7248;
}

.yellow {
	background-color: #FFCC62;
}

.lightgreen {
	background-color: #97C39A;
}

.gray {
	background-color: #619591;
}

.roze {
	background-color: #2A8C65;
}

.green {
	background-color: #D07395;
}

.fiolet {
	background-color:#656898;
}

li.fifty {
	width: 50%;
}

li.twfive {
	width: 25%;
}

li.hundred {
	width: 100%;
}

.footer_span {
	text-transform: capitalize;
}
