@import "sprite";

@font-face {
	font-family: LatoLight; /* Имя шрифта */
	src: url("../assets/fonts/Lato-Light.ttf"); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: LatoBold; /* Имя шрифта */
	src: url("../assets/fonts/Lato-Bold.ttf"); /* Путь к файлу со шрифтом */
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	justify-content: center;
	align-items: center;
}

.general {
	display: flex;
	width: 100%;
	padding: 100px 0 120px;

}

.container {
	width: 100%;
	max-width: 1600px;
	margin: auto;
	padding: 0 15px;
}

.title {
	text-align: center;
	margin-bottom: 60px;
}

.title__h {
	text-transform: uppercase;
	margin-bottom: 65px;
	font-family: LatoBold;
	font-size: 35px;
}

.title__p {
	font-size: 16px;
	font-family: LatoLight;
	max-width: 570px;
	margin: 0 auto;
}


.content {
	display: flex;
	list-style: none;
	justify-content: space-around;

	&__card {
		width: 100%;
		max-width: 270px;
		position: relative;
		display: flex;
		flex-direction: column;
		transition: all .3s ease;
	}

	&__card-img {
		width: 100%;
		margin-bottom: 20px;
	}
}

.bold {
	font-family: LatoBold;
	font-size: 18px;
	text-transform: capitalize;
}

.light {
	font-family: LatoLight;
	font-size: 14px;
	text-transform: capitalize;
}

.social {
	list-style: none;
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left:0;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: all .3s ease;
	height: 270px;
	width: 270px;


	&:hover {
		opacity: 1;
	}

	&__item:not(:last-child) {
		margin-right: 5px;
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		background-color:#6bbccf;
		width: 40px;
		height: 40px;
		text-decoration: none;

		&:hover {
			opacity: .7;
		}
	}
}

.social:hover {
	background-color: #2ca8c6;
	height: 270px;
	width: 270px;
}

