.banner {
	min-height: 890px;
	color: $white;
	padding: 250px;
	overflow: hidden;
	position: relative;
	background: {
		image: url("../img/firefox.png");
		size: cover;
		repeat: no-repeat;
	}

	&::before {
		content: "";
		display: block;
		min-height: 500px;
		background: $white;
		width: 110%;
		position: absolute;
		left: -1%;
		bottom: -37%;
		transform: rotate(-8deg);

	}

	&__title {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 58px;
		position: relative;
		z-index: 1;
	}

	&__subtitle {
		font-size: 45px;
		font-weight: 300;
		position: absolute;
		transform: translateY(-54%);
		z-index: 0;

		&-element {
			font-weight: bold;
			font-size: 8rem;
			color: rgba($light-blue, .5);
			margin-right: 10px;
		}
	}

	.carousel-control-next {
		background-color: lighten($middle-grey, 10%);
	}

	.carousel-control-prev {
		opacity: 0;
		display: none;
	}

	.carousel-item__review {
		position: absolute;
		left: 0;
		bottom: 0;
		padding: 15px 0;
		width: 100%;
		text-align: center;
		background-color: rgba($black, .5);

		&-img {
			border-radius: 50%;
			border: 2px solid white;
		}
	}
}