ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.mb-70 {
	margin-bottom: 70px;
}

.mb-150 {
	margin-bottom: 150px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

%circle {
	$size: 15000px;
	content: "";
	display: block;
	border: 1px solid;
	border-radius: 50%;
	@include square($size);
	position: absolute;
	z-index: -1;
	top: 0;
	left: 50%;
	transform: translate(-50%);
}