.main-nav {
	border-top: 1px solid $grey-border;

	.nav-item:last-child .nav-link {
		border: none;
	}

	.nav-item {
		position: relative;

		.nav-link {

			&::before {
				$size: 10px;
				display: block;
				position: absolute;
				bottom: 0;
				border: $size solid transparent;
				border-right-width: $size * 1.5;
				border-left-width: $size * 1.5;
				border-bottom-color: currentcolor;
			}

			&:hover {

				&::before {
					content: "";
				}
			}
		}

		&.active {

			.nav-link {
				color: $light-blue;
				text-transform: uppercase;

				&::before {
					content: "";
				}
			}
		}
	}

	.nav-link {
		display: flex;
		justify-content: center;
		font-weight: bold;
		text-transform: capitalize;
		padding: 20px 15px;
		border-right: 1px solid $grey-border;
	}
}