.top-nav {
	background-color: $top-nav-bg;

	.nav-pills {
		padding: 15px 0;
		width: 100%;
		max-width: 470px;
		justify-content: space-between;
		align-items: center;
	}

	.nav-link {
		padding: 0 15px;
		min-width: 100px;
		text-transform: capitalize;
		background-color: $white;
		border: none;

		&:hover {
			color: rgba($black, .6);
		}
	}
}

.social-nav {
	display: flex;
	justify-content: flex-end;

	&__link {
		display: flex;
		@include square(55px);
		justify-content: center;
		align-items: center;
		border: 1px solid $grey-border;
		text-decoration: none;
		transition: $transition;
		font-size: 1.5rem;

		&:hover {
			background-color: $link-hover;
		}
	}

	&__item:not(:last-child) .social-nav__link {
		border-right: none;
	}
}

@each $class, $color in $social-map {
	.#{$class} {
		color: $color;
	}
}