<section class="first-screen">
	<div class="overlay">
		<div class="container">
			<h3 class="first-screen__subtitle">DESIGN / DEVELOPMENT / PHOTOGRAPHY</h3>
			<h1 class="first-screen__title">CREATIVITY HAVE NEW LEVEL</h1>
			<a class="first-screen__title-btn" href="#">PREVIEW</a>
			<a class="first-screen__title-btn" href="#">GET THEME</a>
		</div>
	</div>
</section>