<section class="contacts">
	<div class="container">
		<div class="contacts__wrapper">
			<div class="row">
				<div class="col-md-6">
					<div class="contacts__aboutus">
						<h3 class="contacts__aboutus-title">ABOUT US</h3>
						<p class="contacts__aboutus-text">Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.	Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. Curabitur aliquet quam id dui posuere blandit. Donec rutrum congue leo eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat. Vivamus suscipit tortor eget felis.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<form class="contacts__form">
						<h3 class="contacts__form-title">CONTACT US</h3>
						<label class="contacts__form-label">email</label>
						<input class="contacts__form-email" type="email" required>
						<label class="contacts__form-label">message</label>
						<textarea class="contacts__form-message"  value="message" required rows="5"></textarea>
						<input class="contacts__form-btn" type="submit" value="send">
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
