<% const menu = [
{name:'home', href:'#'},
{name:'about', href:'#contacts'},
{name:'portfolio', href:'#portfolio'},
{name:'testimonials', href:'#testimonials'},
{name:'contacts', href:'#contacts'}
] %>

<header class="header">
	<div class="container">
		<div class="header__content">
			<a class="header__logo" href="#" target="_blank">
				<img class="header__logo-pic" src="img/logo.png" alt="logo">
			</a>
			<div class="header__wrapper">
				<ul class="header__list main-menu">
					<% menu.forEach(menuItem => { %>
					<li class="header__item">
						<a class="header__link" href="<%= menuItem.href %>"><%= menuItem.name %></a>
					</li>
					<%})%>
				</ul>
				<div class="burger">
					<div id="toggle">
						<input class="burger__input" type="checkbox">
						<span></span>
					</div>
					<div id="menu">
						<div id="logo">Modus</div>
						<ul>
							<li>Home</li>
							<li>About</li>
							<li>Portfolio</li>
							<li>Testimonials</li>
							<li>Contacts</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
</header>
