<section class="history" id="history">

	<div class="container">
		<div class="history__wrapper">
			<h2 class="history__title">LITTLE HISTORY</h2>
			<svg class="history__pic" xmlns="http://www.w3.org/2000/svg"
			width="93px" height="19px">
			<path d="M93.000,9.000 L55.000,9.000 L46.824,0.964 L39.000,9.000 L-0.000,9.000 L-0.000,11.000 L38.909,10.879 L46.824,18.794 L47.530,18.086 L55.000,11.000 L93.000,11.000 L93.000,9.000 ZM46.823,15.964 L40.738,9.879 L46.824,3.793 L52.910,9.879 L46.823,15.964 Z"/>
		</svg>
		<p class="history__text">Vivamus suscipit tortor eget felis porttitor volutpat.	Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.<br>Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. Curabitur aliquet quam id dui posuere blandit. <br> Donec rutrum congue leo eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat. <br>Vivamus suscipit tortor eget felis porttitor volutpat. Cras ultricies ligula sed magna dictum porta. <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	</div>
	<a class="history__scroll" href="#first-screen">
		<svg class="footer__pic" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M177 255.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 351.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 425.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1zm-34-192L7 199.7c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l96.4-96.4 96.4 96.4c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9l-136-136c-9.2-9.4-24.4-9.4-33.8 0z"></path></svg>
	</a>
</div>

</section>