<section class="history" id="history">
	<div class="container">
		<div class="history__wrapper">
			<h2 class="history__title">LITTLE HISTORY</h2>
			<svg class="history__pic" xmlns="http://www.w3.org/2000/svg"
			width="93px" height="19px">
			<path d="M93.000,9.000 L55.000,9.000 L46.824,0.964 L39.000,9.000 L-0.000,9.000 L-0.000,11.000 L38.909,10.879 L46.824,18.794 L47.530,18.086 L55.000,11.000 L93.000,11.000 L93.000,9.000 ZM46.823,15.964 L40.738,9.879 L46.824,3.793 L52.910,9.879 L46.823,15.964 Z"/></svg>
			<p class="history__text">Vivamus suscipit tortor eget felis porttitor volutpat.	Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.<br>Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. Curabitur aliquet quam id dui posuere blandit. <br> Donec rutrum congue leo eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat. <br>Vivamus suscipit tortor eget felis porttitor volutpat. Cras ultricies ligula sed magna dictum porta. <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
		<div class="to-top">
			<div id="fixed">
				<svg class="to-top__pic" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
					<path fill="currentColor" d="M8 256C8 119 119 8 256 8s248 111 248 248-111 248-248 248S8 393 8 256zm143.6 28.9l72.4-75.5V392c0 13.3 10.7 24 24 24h16c13.3 0 24-10.7 24-24V209.4l72.4 75.5c9.3 9.7 24.8 9.9 34.3.4l10.9-11c9.4-9.4 9.4-24.6 0-33.9L273 107.7c-9.4-9.4-24.6-9.4-33.9 0L106.3 240.4c-9.4 9.4-9.4 24.6 0 33.9l10.9 11c9.6 9.5 25.1 9.3 34.4-.4z"></path>
				</svg>
			</div>
		</div>
	</div>
</section>