<section class="services">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="services__card">
					<figure>
						<svg class="services__card-svg" xmlns="http://www.w3.org/2000/svg"	width="47px" height="46px">
							<path fill-rule="evenodd"  fill="rgb(16, 16, 18)"
							d="M39.724,8.378 L43.533,12.189 C43.760,12.413 43.874,12.712 43.876,13.020 C43.874,13.330 43.760,13.627 43.531,13.853 L43.533,13.853 L19.277,38.108 L20.876,39.708 L45.133,15.453 C45.802,14.783 46.138,13.895 46.138,13.020 C46.138,12.143 45.802,11.257 45.132,10.589 L35.909,1.368 C35.239,0.697 34.353,0.363 33.476,0.363 C32.601,0.363 31.714,0.697 31.043,1.369 L6.792,25.622 L8.391,27.222 L32.645,2.967 C32.874,2.739 33.169,2.625 33.476,2.623 C33.785,2.625 34.082,2.739 34.309,2.967 L38.123,6.779 L15.120,29.782 L16.719,31.381 L39.724,8.378 ZM5.377,31.835 C4.908,31.377 4.356,31.009 3.622,30.996 C3.048,30.981 2.455,31.314 2.152,31.752 C1.835,32.186 1.707,32.674 1.660,33.195 L0.876,42.333 L0.875,42.332 C0.866,42.427 0.862,42.528 0.862,42.630 C0.858,43.447 1.173,44.223 1.728,44.771 C2.274,45.320 3.045,45.636 3.861,45.636 L3.869,45.636 C3.958,45.636 4.046,45.632 4.137,45.626 L13.309,44.841 C13.828,44.794 14.316,44.663 14.750,44.346 C15.187,44.042 15.518,43.453 15.504,42.880 C15.492,42.145 15.127,41.590 14.665,41.123 L5.377,31.835 ZM3.965,43.371 C3.942,43.371 3.906,43.375 3.869,43.375 C3.369,43.340 3.158,43.129 3.123,42.630 C3.123,42.625 3.121,42.592 3.116,42.536 L3.129,42.536 L3.898,33.554 L12.946,42.603 L3.965,43.371 Z"/>
						</svg>
						<div class="services__card-line"></div>
						<figcaption>
							<h5 class="services__title">Idea</h5>
						</figcaption>
					</figure>
					<p class="services__text">Vivamus suscipit tortor eget felis porttitor
					volutpat. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.	Pellentesque in ipsum id orci. </p>
				</div>
			</div>

			<div class="col-md-4">
				<div class="services__card">
					<figure>
						<svg class="services__card-svg" xmlns="http://www.w3.org/2000/svg"	width="53px" height="47px">
							<path fill-rule="evenodd"  fill="rgb(16, 16, 18)"
							d="M48.667,15.044 L37.039,15.041 C36.862,12.011 36.000,9.271 34.631,7.158 C33.194,4.941 31.102,3.381 28.666,3.203 L28.666,3.171 L28.226,3.171 C28.224,3.171 28.221,3.171 28.221,3.171 C28.218,3.171 28.215,3.171 28.213,3.171 L16.801,3.171 C16.510,1.589 15.136,0.394 13.473,0.390 L10.363,0.390 C8.490,0.394 6.975,1.910 6.971,3.782 L6.971,9.484 L2.071,9.484 C1.449,9.484 0.940,9.992 0.940,10.615 C0.940,11.237 1.449,11.746 2.071,11.746 L6.971,11.746 L6.971,21.167 L2.071,21.167 C1.449,21.167 0.940,21.675 0.940,22.298 L0.940,22.298 C0.940,22.920 1.449,23.431 2.071,23.431 L6.971,23.431 L6.971,27.950 C6.975,29.825 8.490,31.337 10.363,31.342 L13.473,31.342 C14.913,31.337 16.132,30.440 16.624,29.177 L28.206,29.177 C28.211,29.177 28.213,29.177 28.221,29.177 C28.224,29.177 28.229,29.177 28.234,29.177 L28.666,29.177 L28.666,29.143 C31.102,28.964 33.194,27.406 34.631,25.184 C36.000,23.077 36.862,20.334 37.039,17.305 L48.667,17.305 C49.281,17.305 49.796,17.822 49.796,18.435 L49.796,37.846 C49.796,38.461 49.281,38.974 48.667,38.978 L23.978,38.978 C22.104,38.982 20.589,40.495 20.585,42.368 L20.585,46.609 L22.848,46.609 L22.845,42.368 C22.848,41.754 23.363,41.239 23.978,41.239 L48.667,41.239 C50.539,41.235 52.053,39.719 52.058,37.846 L52.060,18.435 C52.053,16.561 50.539,15.045 48.667,15.044 ZM14.602,27.950 C14.602,28.565 14.086,29.080 13.473,29.082 L10.363,29.082 C9.750,29.080 9.234,28.565 9.231,27.950 L9.231,3.782 C9.234,3.168 9.750,2.653 10.363,2.649 L13.473,2.649 C14.086,2.653 14.602,3.168 14.602,3.782 L14.602,27.950 ZM16.911,26.914 L16.911,5.432 L23.204,5.432 L26.405,5.432 L26.405,5.856 L26.405,26.491 L26.405,26.914 L23.204,26.914 L16.911,26.914 ZM32.735,23.952 C31.579,25.716 30.144,26.716 28.666,26.882 L28.666,5.464 C30.144,5.631 31.579,6.630 32.735,8.393 C33.991,10.321 34.817,13.092 34.814,16.176 C34.817,19.253 33.991,22.027 32.735,23.952 Z"/>
						</svg>
						<div class="services__card-line"></div>
						<figcaption>
							<h5 class="services__title">Work</h5>
						</figcaption>
					</figure>
					<p class="services__text">Vivamus suscipit tortor eget felis porttitor
					volutpat. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.	Pellentesque in ipsum id orci. </p>
				</div>
			</div>

			<div class="col-md-4">
				<div class="services__card">
					<figure>
						<svg class="services__card-svg" xmlns="http://www.w3.org/2000/svg" width="45px" height="45px">
							<path fill-rule="evenodd"  fill="rgb(16, 16, 18)"
							d="M23.270,31.823 L23.270,29.036 L21.009,29.036 L21.009,31.878 C18.479,32.391 16.483,34.360 15.921,36.870 L0.975,36.870 L0.975,39.132 L15.812,39.132 C16.221,42.370 18.974,44.873 22.322,44.873 C25.666,44.873 28.420,42.367 28.825,39.131 L44.023,39.131 L44.023,36.871 L28.719,36.871 C28.131,34.245 25.968,32.217 23.270,31.823 ZM22.322,42.613 C19.945,42.608 18.023,40.683 18.018,38.309 C18.023,35.936 19.945,34.014 22.322,34.009 C24.694,34.014 26.617,35.936 26.622,38.309 C26.617,40.683 24.694,42.608 22.322,42.613 ZM40.641,0.127 L4.358,0.127 C2.377,0.132 0.772,1.736 0.769,3.719 L0.769,23.912 C0.772,25.893 2.377,27.498 4.358,27.503 L40.641,27.503 C42.622,27.498 44.226,25.893 44.231,23.912 L44.231,3.719 C44.226,1.736 42.622,0.132 40.641,0.127 ZM41.972,23.912 C41.968,24.634 41.365,25.239 40.641,25.240 L4.358,25.240 C3.634,25.239 3.030,24.634 3.028,23.912 L3.030,3.719 C3.030,2.995 3.634,2.391 4.358,2.388 L40.641,2.391 C41.365,2.391 41.968,2.995 41.972,3.719 L41.968,23.912 L41.972,23.912 Z"/>
						</svg>
						<div class="services__card-line"></div>
						<figcaption>
							<h5 class="services__title">Deliver</h5>
						</figcaption>
					</figure>
					<p class="services__text">Vivamus suscipit tortor eget felis porttitor
					volutpat. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.	Pellentesque in ipsum id orci. </p>
				</div>
			</div>
		</div>
	</div>
</section>
