@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  min-height: 100vh; }

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-size: 100%; }

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto; }

.first-screen {
  height: 100vh;
  background: url("../img/first-screen.jpg") top center no-repeat;
  padding: 100px 0 100px; }
  .first-screen__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .first-screen__title {
    text-align: center;
    max-width: 590px;
    margin: 0 auto;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff; }
  .first-screen__subtitle {
    text-align: center;
    margin: 0 auto;
    max-width: 590px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    padding: 50px 0;
    line-height: 29px; }
  .first-screen__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 50px 0 50px; }

.about {
  padding: 140px 0 140px;
  max-width: 900px;
  margin: 0 auto; }

.about-content {
  padding: 1px 0 30px;
  border: solid 2px #3c3c3c;
  color: #3c3c3c;
  border-top: none;
  position: relative;
  width: 100%; }
  .about-content-title {
    overflow: hidden;
    text-transform: uppercase;
    text-align: center;
    margin-top: -18px;
    margin-bottom: 60px;
    letter-spacing: .6rem; }
  .about-content-title:before, .about-content-title:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 2px;
    background: #3c3c3c;
    border: solid #fff;
    border-width: 0 100px; }
  .about-content-title:before {
    margin-left: -100%; }
  .about-content-title:after {
    margin-right: -100%; }
  .about-content-subtitle {
    padding: 0 170px;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 30px; }
    .about-content-subtitle:last-child {
      margin-bottom: 0; }

.services {
  padding: 130px 0 100px;
  background: url("../img/services.jpg") top center no-repeat; }
  .services .services-content {
    padding: 1px 0 30px;
    border: solid 2px #fff;
    color: #fff;
    border-top: none;
    position: relative;
    max-width: 900px;
    margin: 0 auto; }
    .services .services-content-title {
      overflow: hidden;
      text-transform: uppercase;
      text-align: center;
      margin-top: -18px;
      margin-bottom: 60px;
      letter-spacing: .4rem; }
    .services .services-content-title:before, .services .services-content-title:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      height: 2px;
      background: #fff;
      border: solid rgba(0, 0, 0, 0.3);
      border-width: 0 100px; }
    .services .services-content-title:before {
      margin-left: -100%; }
    .services .services-content-title:after {
      margin-right: -100%; }
    .services .services-content-subtitle {
      padding: 0 170px;
      text-align: center;
      line-height: 1.4; }

.whatwedo {
  padding: 120px 0 112px;
  color: #3c3c3c;
  max-width: 900px;
  margin: 0 auto;
  text-align: center; }

.whatwedo-content {
  padding: 1px 0 90px;
  border: solid 2px #3c3c3c;
  color: #3c3c3c;
  border-top: none;
  position: relative;
  width: 100%; }
  .whatwedo-content-title {
    overflow: hidden;
    text-transform: uppercase;
    text-align: center;
    margin-top: -18px;
    margin-bottom: 115px;
    letter-spacing: .4rem; }
  .whatwedo-content-title:before, .whatwedo-content-title:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 2px;
    background: #3c3c3c;
    border: solid #fff;
    border-width: 0 70px; }
  .whatwedo-content-title:before {
    margin-left: -100%; }
  .whatwedo-content-title:after {
    margin-right: -100%; }
  .whatwedo-content-img {
    margin-bottom: 40px; }
  .whatwedo-content-subtitle {
    padding: 0 170px;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 110px; }
    .whatwedo-content-subtitle:last-child {
      margin-bottom: 0; }
  .whatwedo-content-tittle {
    text-transform: uppercase;
    letter-spacing: .4rem;
    margin-bottom: 35px; }

.picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .picture__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .picture__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 50px;
    top: 161px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 34px;
    letter-spacing: 0.4rem; }
  .picture__content {
    position: relative;
    cursor: pointer; }
  .picture__item:hover {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: .6; }

.contactus {
  padding: 130px 0 50px;
  color: #3c3c3c;
  max-width: 900px;
  margin: 0 auto;
  text-align: center; }

.contactus-content {
  padding: 1px 0 60px;
  border: solid 2px #3c3c3c;
  color: #3c3c3c;
  border-top: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .contactus-content-title {
    overflow: hidden;
    text-transform: uppercase;
    text-align: center;
    margin-top: -18px;
    margin-bottom: 115px;
    letter-spacing: .4rem; }
  .contactus-content-title:before, .contactus-content-title:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 2px;
    background: #3c3c3c;
    border: solid #fff;
    border-width: 0 70px; }
  .contactus-content-title:before {
    margin-left: -100%; }
  .contactus-content-title:after {
    margin-right: -100%; }
  .contactus-content-img {
    margin-bottom: 40px; }
  .contactus-content-subtitle {
    padding: 0 170px;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 45px; }
    .contactus-content-subtitle:last-child {
      margin-bottom: 0; }
  .contactus-content-tittle {
    text-transform: uppercase;
    letter-spacing: .4rem;
    margin-bottom: 35px; }
  .contactus-content-anchor {
    color: #fff;
    background: #3c3c3c;
    max-width: 400px;
    min-width: 400px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 20px 0;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 auto; }
    .contactus-content-anchor:hover {
      color: #fff;
      background: #232323; }

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  padding: 60px 0 60px; }
  .footer-content__svg {
    margin-right: 35px; }
