* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body {
	height: 100%;
}

body {
	font-size: 100%;
	font-family: sans-serif;
	color:#fff ;
}
.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.blog {
	background-color:#b07cf7; 
	padding: 100px 0;
}

.cahee__title {
	font-size: 90px;
	font-weight: bold;
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 40px;
}

.cahee__subtitle {
	font-size: 17px;
	font-weight: 300;
	width: 100%;
	margin: auto;
	max-width: 570px;
	line-height: 1.4;
	margin-bottom: 50px;

}

.cahee__section {

}

.blog__item {

}

.blog__list {
	display: flex;
	justify-content: space-between;
}
.blog__link {
	display: block;
	width: 100%;
	min-width: 368px;
	max-width: 368px;
	height: 310px;
	padding: 30px;
	text-decoration: none;
	color: #fff;
	background: url('../img/1.png') no-repeat;
}

.blog__date {
	display: block;
	width: 100%;
	height: 60px;
	line-height: .5;
	padding: 10px;
	text-transform: uppercase;
	border-radius: 5px;
	background-color: rgda(0,0,0,4);
	text-align: center;
	font-weight: 700;
	font-size:black; 
}

.blog__month {
	font-size: 21px;
	font-weight: 600;
	line-height: 1;
	transform: translateY(7px);
}

/* 
***
#b07cf7 - violet
#f72b3b - pink
#fff
#000
*** */