<section class="first-screen">
	<div class="container">

		<div class="first-screen__header">
			<div class="first-screen__logo">
				<img class="first-screen__logo-img" src="../../../img/logo.png" alt="logo">
				<a class="first-screen__logo-text" href="#">tajam</a>
			</div>
			<ul class="nav justify-content-end">
				<li class="nav-item">
					<a class="nav-link" href="#">home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">about</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">expertise</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">teams</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">works</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">people say</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">contact</a>
				</li>
			</ul>
		</div>

		<div class="first-screen__content">
			<div class="row justify-content-center ">
				<h2 class="first-screen__title">We Are Awesome Creative Agency</h2>
				<div class="col-10">
					<p class="first-screen__subtitle">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
				</div>
			</div>
		</div>
	</div>
</section>