* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
	font-family: 'PT Sans';
	font-size: 20px;
}

.container {
	width: 100%;
	max-width:930px; 
	margin: auto;
	padding: 0 15px;
}

ul {
	list-style: none;
	li {
		a {
			text-decoration: none;
		}
	}
}




