* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
	font-family: 'PT Sans';
}

.container {
	width: 100%;
	max-width:930px; 
	margin: auto;
	padding: 0 15px;
}

a {
	text-decoration: none;
}

