.first-screen {
	background-color:$fs-bg;
	padding: 60px 0 50px;

	&__header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 200px;
	}

	&__burger {
		height: 19px;
		width: 19px;

	}

	&__logo {

		&-link {
			text-decoration: none;
			color: black;
			font-size: 30px;
		}

	}

	&__social  {

		&-pic {
			height: 19px;
			width: 19px;
			fill: black;

		}
	}

	&__carousel {

		text-align: center;

		&-title {
			font-weight: bold;
			font-size: 48px;
			margin-bottom: 30px;
		}

		&-text {
			font-size: 20px;
			font-weight: normal;
			margin-bottom: 30px;
			max-width: 710px;
		}

		.item {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&-list {
			display: flex;
			list-style: none;
		}

		&-item:not(:last-child) {
			margin-right: 35px;
		}

		&-img {
			padding: 15px;
			border:1px solid black;
			border-radius: 50%;
			margin-bottom: 150px;
			width: 60px;
			height: 60px;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
		}
	}
}