.footer {
	background: $black;
	padding: 90px 0 210px;

	&__title {
		color: $yellow;
		font-size: 32px;
		font-weight: bold;
	}

	&__text {
		color: $gray;
		text-align: center;
		margin-bottom: 45px;
	}

	.input {
		font-size: 16px;
		padding: 0 25px 0;
		min-width: 580px;
		height: 50px;
		margin-right: 20px;
		border-radius: 5px;
	}

	&__form {
		margin-bottom: 115px;
		display: flex;
		justify-content: center;
	}

	.btn {
		background: $yellow;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 16px;
		min-width: 145px;

		&:hover {
			color: $yellow;
			background: $black;
			border:2px solid $yellow;
		}
	}

	&__nav {
		display: flex;
		font-size: 16px;
		color: $white;
		justify-content: space-between;

		&-list {
			margin-bottom: 0;
		}

		&-item {
			width: 100%;
			max-width: 188px;

		}

		&-link {
			color: $white;

			&:hover {
				color:$yellow;
				text-decoration: none;
				font-weight: bold;
			}
		}
	}
}