
.about {
	padding: 140px 0 140px;
	max-width: 900px;
	margin:0 auto;
}


@media only screen
and (min-device-width : 375px)
and (max-device-width : 959px) {

	.about {
		padding: 50px 0 50px;
	}

	.about-content-title {
		margin-bottom: 20px;
		letter-spacing: 0;
	}

	.about-content-subtitle {
		max-width: 375px;
		font-size: 13px;
	}

}

.about-content {
	padding: 1px 0 30px;
	border: solid 2px $about;
	color: $about;
	border-top: none;
	position: relative;
	width: 100%;
	text-align: center;


	&-title {
		overflow: hidden;
		text-transform: uppercase;
		text-align: center;
		margin-top: -18px;
		margin-bottom: 60px;
		letter-spacing: .6rem;
	}

	&-title:before,
	&-title:after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		box-sizing: border-box;
		width: 100%;
		height: 2px;
		background: $about;
		border: solid $fs;
		border-width: 0 100px;
	}

	&-title:before {
		margin-left: -100%;
	}

	&-title:after {
		margin-right: -100%;
	}

	&-subtitle {
		display: inline-block;
		text-align: center;
		line-height: 1.4;
		margin-bottom:30px;
		max-width: 550px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}