.about {
	padding: 140px 0 140px;
	@include xs-screen {
		padding: 40px 0 40px;
	}
}

.about-content {
	@include border;
	border: solid 2px $about;
	color: $about;
	border-top: none;

	&:before,
	&:after {
		border-top: 2px solid $about;
	}
}