.contactus {
	padding: 130px 0 50px;
	@include xs-screen {
		padding: 20px 0 20px;
	}
}

.contactus-content {
	@include border;
	border: solid 2px $about;
	color: $about;
	border-top: none;

	&:before,
	&:after {
		border-top: 2px solid $about;
	}

	&-subtitle {
		margin:0 auto 45px;
	}

	&-anchor {
		color: $fs;
		background: $about;
		max-width: 400px;
		min-width: 400px;
		transition: $transition;
		padding: 20px 0;
		text-transform: uppercase;
		text-decoration: none;
		margin:0 auto;
		text-align: center;
		display: block;
		@include xs-screen {
			max-width: 200px;
			min-width: 200px;
		}

		&:hover {
			color: $fs;
			background: darken($about, 10%);
		}
	}
}