.contactus {
	padding: 130px 0 50px;
}

.contactus-content {
	border: solid 2px $about;
	color: $about;
	border-top: none;
	text-align: center;
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 30px;

	&:before {
		left: 0;
	}

	&:before,
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		width: 27%;
		border-top: 2px solid $about;
	}

	&:after {
		right: 0;
	}

	&:before,
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		width: 27%;
		border-top: 2px solid $about;
	}
	&-title {
		overflow: hidden;
		text-transform: uppercase;
		text-align: center;
		margin-top: -18px;
		margin-bottom: 60px;
		letter-spacing: .4rem;
	}

	&-subtitle {
		text-align: center;
		line-height: 1.4;
		margin:0 auto 45px;
		display: block;
		max-width: 540px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&-anchor {
		color: $fs;
		background: $about;
		max-width: 400px;
		min-width: 400px;
		transition: $transition;
		padding: 20px 0;
		text-transform: uppercase;
		text-decoration: none;
		margin:0 auto;
		text-align: center;
		display: block;

		&:hover {
			color: $fs;
			background: darken($about, 10%);
		}
	}
}

@media screen and (max-width: 575px) {
	.contactus {
		padding: 20px 0 20px;
	}

	.contactus-content {
		padding: 1px 0 20px;
	}

	.contactus-content-title {
		margin-bottom: 25px;
	}

	.contactus-content-anchor {
		max-width: 200px;
		min-width: 200px;
	}

	.contactus-content:before,
	.contactus-content:after {
		width: 10%;
	}
}