.first-screen {
	height: 100vh;
	background: url("../img/first-screen.jpg") center no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;



	&__title {
		text-align: center;
		margin: 0 auto;
		max-width: 590px;
		font-size: 54px;
		font-weight: 700;
		text-transform: uppercase;
		color: $fs;
		// margin-bottom: 55px;

	}

	&__subtitle {
		text-align: center;
		margin: 0 auto;
		max-width: 590px;
		color: $fs;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 16px;
		line-height: 29px;
		margin-bottom: 30px;
	}

	&__footer {
		display: flex;
		justify-content: center;
	}

	&__logo {
		display: flex;
		justify-content: center;
		// margin-bottom: 95px;
	}
}

@media screen and (max-width: 575px) {
	.first-screen__logo {
		margin-bottom: 10px;
	}

	.first-screen__title {
		margin-bottom: 10px;
		font-size: 30px;
		max-width: 320px;
	}

	.first-screen__subtitle {
		font-size: 13px;
	}

	.first-screen__footer {
		display: none;
	}
}


@media screen and (min-width: 576px) and (max-width: 767px) {
	.first-screen__logo {
		margin-bottom: 10px;
	}

	.first-screen__footer {
		display: none;
	}

	.first-screen__title {
		font-size: 40px;
		margin-bottom: 10px;
		max-width: 320px;
	}

	.first-screen__subtitle {
		font-size: 13px;
		max-width: 320px;
	}

}