.footer-content {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: 400;
	padding: 60px 0 60px;

	&__svg {
		margin-right: 35px;
	}
}

@media screen and (max-width: 575px) {
	.footer-content {
		padding: 25px 0 25px;
	}

	.footer__text {
		font-size: 10px;
	}
}