@mixin media-hidden {
	@media only screen and (max-width: 319px) {
		display: none;
	}
}

@mixin xs-screen {
	@media only screen and (max-width: 575px) {
		@content;
	}
}

@mixin sm-screen {
	@media only screen and (min-width: 576px) {
		@content;
	}
}

@mixin md-screen {
	@media only screen and (max-width: 768px) {
		@content;
	}
}

@mixin md-screen-max {
	@media only screen and (max-width: 991px) {
		@content;
	}
}

@mixin lg-screen {
	@media only screen and (min-width: 992px) {
		@content;
	}
}

@mixin xl-screen {
	@media only screen and (min-width: 1200px) {
		@content;
	}
}


@mixin border {
	border: solid 2px $fs;
	color: $fs;
	border-top: none;
	text-align: center;
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 30px;

	&:before {
		left: 0;
	}

	&:before,
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		width: 27%;
		border-top: 2px solid $fs;
		@include xs-screen {
			width: 10%;
		}
	}

	&:after {
		right: 0;
	}

	&:before,
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		width: 27%;
		border-top: 2px solid $fs;
		@include xs-screen {
			width: 10%;
		}
	}

	&-title {
		overflow: hidden;
		text-transform: uppercase;
		text-align: center;
		margin-top: -18px;
		margin-bottom: 60px;
		letter-spacing: .6rem;
		@include xs-screen {
			margin-bottom: 10px;
			font-size: 20px;
			letter-spacing: .2rem;

		}
	}

	&-subtitle {
		display: inline-block;
		text-align: center;
		line-height: 1.4;
		max-width: 540px;
		@include md-screen {
			max-width: 80%;
			font-size: 16px;
		}
	}
}