.picture {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		min-height:485px;
		align-content: space-between;
	}


	&__item {
		list-style: none;
		overflow: hidden;
		max-width: 33%;
	}


	&__content {
		display: flex;
		position: relative;



		&:hover {
			opacity: .5;
			transition: $transition;
		}
	}

	&__title {
		position: absolute;
		font-size: 23px;
		font-weight: 700;
		letter-spacing: .4em;
		text-transform: uppercase;
		color: white;
		left:46px;
		bottom: 30px;
	}
}

@media screen and (max-width: 575px) {
	.picture__list {
		flex-wrap: nowrap;
		flex-direction: column;
		align-items: center;
	}

	.picture__title {
		font-size: 13px;
		left:15px;
	}

	.picture__item {
		max-width: 75%;
		min-width: 75%;
		margin-bottom: 5px;
	}
}

@media screen and (min-width: 576px) and (max-width: 766px) {
	.picture__title {
		font-size: 20px;
		left:15px;
	}

}

// @media screen and (max-width: 1920px) {

// 	.picture__item {
// 		max-width: 33%;
// 	}
// }
