.picture {

	&__list {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-content: space-between;
		min-height: 480px;
	}

	&__item {
		
	}

	&__content {
		width: 100%;
		min-height: 235px;
		align-items: flex-end;
		position: relative;


	}

	&__title {
		font-family: $font;
		font-weight: 700;
		font-size: 1.33333em;
		color: #fff;
		letter-spacing: 5px;
		font-weight: 700;
		text-transform: uppercase;
		position: absolute;
		bottom: 15px;
		left: 15px;
	}
}






.topworkz {
	background: url("../img/topworkz.jpg") no-repeat;
}

.joint {
	background: url("../img/joint.jpg") no-repeat;
}

.market {
	background: url("../img/market.jpg") no-repeat;
}

.worktop {
	background: url("../img/worktop.jpg") no-repeat;
}

.label {
	background: url("../img/label.jpg") no-repeat;
}

.kyiv {
	background: url("../img/kyiv.jpg") no-repeat;
}