.whatwedo {
	padding:120px 0 112px;
	color: $about;
}

.whatwedo-content {
	border: solid 2px $about;
	color: $about;
	border-top: none;
	text-align: center;
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 30px;

	&:before {
		left: 0;
	}

	&:before,
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		width: 27%;
		border-top: 2px solid $about;
	}

	&:after {
		right: 0;
	}

	&:before,
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		width: 27%;
		border-top: 2px solid $about;
	}

	&-title {
		overflow: hidden;
		text-transform: uppercase;
		text-align: center;
		margin-top: -18px;
		margin-bottom: 115px;
		letter-spacing: .4rem;
	}

	&-img {
		margin-bottom:  40px;
	}

	&-subtitle {
		text-align: center;
		line-height: 1.4;
		margin-bottom:110px;
		display: inline-block;
		max-width: 550px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&-tittle {
		text-transform: uppercase;
		letter-spacing: .4rem;
		margin-bottom: 35px;
	}

	&__bl {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 90px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media screen and (max-width: 575px) {
	.whatwedo {
		padding: 40px 0 40px;
	}

	.whatwedo-content-title {
		margin-bottom: 20px;
	}

	.whatwedo-content-tittle {
		margin-bottom: 10px;
		letter-spacing: 0.2rem;
	}

	.whatwedo-content-img {
		width: 10%;
		margin-bottom: 10px;
	}

	.whatwedo-content__bl {
		margin-bottom: 20px;
	}

	.whatwedo-content {
		padding:1px 0 25px;
	}

	.whatwedo-content:before,
	.whatwedo-content:after {
		width: 10%;
	}
}

