.whatwedo {
	padding:120px 0 112px;
	color: $about;
	@include xs-screen {
		padding: 40px 0 40px;
	}
}

.whatwedo-content {
	@include border;
	border: solid 2px $about;
	color: $about;
	border-top: none;

	&:before,
	&:after {
		border-top: 2px solid $about;
	}

	&-tittle {
		text-transform: uppercase;
		letter-spacing: .4rem;
		margin-bottom: 35px;
		@include xs-screen {
			margin-bottom: 10px;
			letter-spacing: 0.2rem;
		}
	}

	&__bl {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 90px;
		@include xs-screen {
			margin-bottom: 20px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.pic_svg {
	fill:$about;
	margin-bottom:  40px;
	@include xs-screen {
		width: 20%;
		margin-bottom: 10px;
	}
}