* {
	margin: 0;
	padding: 0;
	box-sizing: border;
}

html,body {
	height: 100%;
}

body {
	margin: 0 auto;
	font-family: 'Trebuchet MS', Trebuchet, Arial, sans-serif;
	font-size: 25px;
	background: #373F41;
	border: 20px solid white;
}

.title {
	text-align: center;
	width: 100%;
	background: #474E50;
	color: #D88B80;
	padding: 10px 0 10px;
}

.container {
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;

}

span,h3 {
	text-transform: capitalize;
}


.container_label {
	display: block;
}

.container_li {
	padding: 5px;
	border-bottom: 1px solid black;
	border-top: 1px solid #3c3c3c;
	background: #848499;
	position: relative;
	height: 35px;
	transition: all .1s ease-in;
}

.dbl-border {
	width: 600px;
	color: white;
	list-style: none;
	padding-left: 0;
	margin:0 auto;
}

input:checked + span {
	text-decoration: line-through;
}

[type="checkbox"] {
	margin-right: 10px;
}

.container_li:nth-child(2n) {
	background: #77778E;
}

.container_li:first-child {
	border-top: none;
}

.container_li:last-child {
	border-bottom: none;
}

.container_li:hover {
	background: #5E6174;
	border: 2px solid white;
	width: 98%;
}

[type="submit"]:hover {
	display: block;
	width: 600px;
	color: #474E50;
	background: #D88B80;
}

[type="submit"] {
	display: block;
	width: 600px;
	height: 45px;
	font-size: 25px;
	color: #D88B80;
	padding-left: 0;
	margin:15px auto;
	background: #474E50;
	border:none;
}

