* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body {
	height: 100%;
}

body {
	margin: 0 auto;
	font-family: 'Trebuchet MS', Trebuchet, Arial, sans-serif;
	font-size: 25px;
	background: #373F41;
	border: 20px solid white;
}

.title {
	text-align: center;
	width: 100%;
	background: #474E50;
	color: #D88B80;
	padding: 10px 0 10px;
	margin-bottom: 20px;
}

.container {
	width: 100%;
	max-width: 1200px;
	min-width: 640px;
	margin: 0 auto;
	padding: 0 20px;
}

span,h3 {
	text-transform: capitalize;
}


.container_label {
	display: block;
	height: 40px;
	padding-left: 10px;

}

.container_li {
	background: #848499;
	position: relative;
	transition: all .1s ease-in;
}

.dbl-border {
	max-width: 640px;
	color: white;
	list-style: none;
	margin: 0 auto;
	padding-bottom: 30px;
}

input:checked + span {
	text-decoration: line-through;
}

[type="checkbox"] {
	margin-right: 10px;
}

.container_li:nth-child(2n) {
	background: #77778E;
}

.container_li:first-child {
	border-top: none;
}

.container_li:last-child {
	border-bottom: none;
}

.container_label:hover {
	background: #5E6174;
	border: 2px solid white;
	width: 100%;
}

.container_label:active {
	background: #D88B80;
	border: 2px solid white;
	width: 100%;
}

[type="submit"]:active {
	display: block;
	max-width: 1200px;
	color: #474E50;
	background: #D88B80;
}

[type="submit"] {
	display: block;
	max-width: 1200px;
	min-width: 640px;
	padding: 15px;
	font-size: 25px;
	color: #D88B80;
	margin: 0 auto;
	background: #474E50;
	border:none;
}

