

.first-screen {
	display: flex;
	width: 100%;
	max-width: 1200px;
	margin:0 auto;
	background: url("../img/1.jpg") top center no-repeat;


	&__header {
		display: flex;
		justify-content: space-between;
		padding-top: 50px;
		margin-bottom: 255px;
	}

	.main {
		background: url("../img/scrol.jpg") no-repeat 50% 85%;
		padding-bottom: 300px;
	}

	&__menu {
		display: flex;
		align-items: center;
		list-style: none;
		text-transform: uppercase;
	}

	&__item {
		margin-right: 40px;

	}

	&__link {
		display: inline-block;
		color: $menu;
		line-height: 1;
		text-decoration: none;
		cursor: pointer;
		font-weight: 900;
	}

	&__link:after {
		background-color: $line-menu;
		display: block;
		content: "";
		height: 4px;
		width: 0%;
		-webkit-transition: width .3s ease-in-out;
		-moz--transition: width .3s ease-in-out;
		transition: width .3s ease-in-out;
	}

	&__link:hover:after,
	&__link:focus:after {
		width: 100%;
	}

}

.title {
	font-weight:900;
	font-size:70px;
	margin-bottom: 35px;
	color: $title-font;
}

.subtitle {
	font-weight: 300;
	font-size: 17px;
	margin-bottom: 35px;
	max-width: 400px;
	line-height: 27px;
}

.button {
	width: 100%;
	max-width: 200px;
	height: 55px;
	color:white;
	background-color: $line-menu;
	cursor: pointer;
	text-transform:uppercase;
	font-weight: 400;
	font-size: 20px;

	&:hover {
		color:$line-menu;
		background-color: $letter-color;
	}
}

