<% const item = [
{type:'lemon', number: '20',title:'Green Smoothies: Too Much of a Good Thing?',time:'2 hours ago'},
{type:'soup', number: '14',title:'Growing Food and a “Thirst” for Innovation',time:'3 hours ago'},
{type:'raspberry', number: '10',title:'Pesticides & Food: What You Need to Know',time:'6 hours ago'}
]
%>

<section class="blog cahee__section">
	<div class="container">
		<h2 class="cahee__title">
			blog
		</h2>

		<h4 class="cahee__subtitle">
			Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.
		</h4>

		<ul class="blog__list">

			<% item.forEach ((menuItem) => { %>
			<li class="blog__item">
				<a href="#" class="blog__link cahee-shadow"  data-img="<%= menuItem.type %>">
					<span class="blog__date"><%= menuItem.number%><span class="blog__month">nov</span></span>
					<footer class="blog__footer">
						<h4 class="blog__title"><%= menuItem.title%></h4>
						<p class="blog__author">by <span class="blog__author-name">Auskteez </span> - <span class="blog__author-time"><%= menuItem.time%></span></p>
					</footer>
				</a>
			</li>
			<%})%>
		</ul>
		<a href="#" class="cahee__btn cahee__shadow">view more</a>
	</div>
</section>