<section class="blog cahee__section">
	<div class="container">
		<h2 class="cahee__title">
			blog
		</h2>

		<h4 class="cahee__subtitle">
			Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.
		</h4>

		<ul class="blog__list">
			<li class="blog__item">
				<a href="#" class="blog__link cahee-shadow"  data-img="lemon">
					<span class="blog__date">20<span class="blog__month">nov</span></span>
					<footer class="blog__footer">
						<h4 class="blog__title">Green Smoothies: Too Much of a Good Thing?</h4>
						<p class="blog__author">by <span class="blog__author-name">Auskteez </span> - <span class="blog__author-time">2 hours ago</span></p>
					</footer>
				</a>
			</li>
			<li class="blog__item">
				<a href="#" class="blog__link cahee-shadow" data-img="soup">
					<span class="blog__date">14<span class="blog__month">nov</span></span>
					<footer class="blog__footer">
						<h4 class="blog__title">Growing Food and a “Thirst” for Innovation</h4>
						<p class="blog__author">by <span class="blog__author-name">Auskteez</span> - <span class="blog__author-time">3 hours ago</span></p>
					</footer>
				</a>
			</li>
			<li class="blog__item">
				<a href="#" class="blog__link cahee-shadow" data-img="raspberry">
					<span class="blog__date">10<span class="blog__month">nov</span></span>
					<footer class="blog__footer">
						<h4 class="blog__title">Pesticides & Food: What You Need to Know</h4>
						<p class="blog__author">by <span class="blog__author-name">Auskteez</span> - <span class="blog__author-time">6 hours ago</span></p>
					</footer>
				</a>
			</li>
		</ul>
		<a href="#" class="cahee__btn cahee__shadow">view more</a>
	</div>
</section>