<!-- <section class="ch-contact">
	<div class="container">
		<div class="ch-contact-wrapper">
			<h2 class="ch-contact__title">
				Contact
			</h2>
			<h4 class="ch-contact__subtitle">
				For new projects, ideas, business or anything
				you'd like to discuss, contact with me!
			</h4>
			<form class="ch-contact__form">
				<input type="text" placeholder="Auskteez Tran" required>
				<input type="email" placeholder="Your email..." required>
				<input type="text" placeholder="Your phone number..." required>
				<textarea type="text-messge" placeholder="Your messge..." required></textarea>
				<input type="submit" value="send">
			</form>

			<div class="sh-contacts__adresses">
				<ul class="sh-contacts__adresses-list">
					<li class="sh-contacts__adresses-item">
						<address class="t-caps f-normal">
							123 City name, Street, City, Country
						</address>
					</li>
					<li class="sh-contacts__adresses-item">
						<span class="t-caps">e-mail</span><a class="sh-contacts__adresses-link" href="mailto:info@designagency.net">cahee@domain.com</a>
					</li>
					<li class="sh-contacts__adresses-item">
						<span class="t-caps">phone</span><a class="sh-contacts__adresses-link" href="tel:+3809600000000">+012 345 6789</a>
					</li>
				</ul>
			</div>
		</div>

	</section> -->

<section class="sh-section ch-contacts">
			<div class="container">
				<h2 class="hidden">Contacts</h2>
				<div class="ch-contacts__wrapper">
					<form class="sh-contacts__form">
						<input type="text" placeholder="Name*" required name="username" class="sh-contacts__field">
						<input type="text" placeholder="Subject*" required name="subject" class="sh-contacts__field">
						<input type="email" placeholder="Email*" required name="email" class="sh-contacts__field">
						<textarea name="message" id="message" class="sh-contacts__field" rows="5" placeholder="Message*"></textarea>

						<input type="submit" name="submit" class="sh-contacts__submit" value="Send Message">
					</form>
					<div class="sh-contacts__adresses">
						<ul class="sh-contacts__adresses-list">
							<li class="sh-contacts__adresses-item">
								<address class="t-caps f-normal">
									address line 1
								</address>
							</li>
							<li class="sh-contacts__adresses-item">
								<address class="t-caps f-normal">
									address line 2
								</address>
							</li>
							<li class="sh-contacts__adresses-item">
								<span class="t-caps">phone</span><a class="sh-contacts__adresses-link" href="tel:+3809600000000">8 (096)000-00-00</a>
							</li>
							<li class="sh-contacts__adresses-item">
								<span class="t-caps">fax</span><a class="sh-contacts__adresses-link" href="fax:+358.555.1234567">+358.555.1234567</a>
							</li>
							<li class="sh-contacts__adresses-item">
								<span class="t-caps">web</span><a class="sh-contacts__adresses-link" href="www.designagency.net" target="_blank">www.designagency.net</a>
							</li>
							<li class="sh-contacts__adresses-item">
								<span class="t-caps">e-mail</span><a class="sh-contacts__adresses-link" href="mailto:info@designagency.net">info@designagency.net</a>
							</li>
						</ul>
						<div class="sh-contacts___map">
							<img class="sh-contacts___map-img" src="img/map.jpg" alt="map">
						</div>
					</div>

				</div>
			</div>
		</section>
