<section class="ch-contacts">
	<div class="container">
		<h2 class="hidden">Contacts</h2>
		<div class="ch-contacts__wrapper">
			<form class="сh-contacts__form">
				<input type="text" placeholder="Name*" required name="username" class="сh-contacts__field">
				<input type="text" placeholder="Subject*" required name="subject" class="сh-contacts__field">
				<input type="email" placeholder="Email*" required name="email" class="сh-contacts__field">
				<textarea name="message" id="message" class="сh-contacts__field" rows="5" placeholder="Message*"></textarea>

				<input type="submit" name="submit" class="сh-contacts__submit" value="Send Message">
			</form>
			<div class="сh-contacts__adresses">
				<ul class="сh-contacts__adresses-list">
					<li class="сh-contacts__adresses-item">
						<span class="t-caps">phone</span><a class="sсh-contacts__adresses-link" href="tel:+3809600000000">8 (096)000-00-00</a>
					</li>
					<li class="сh-contacts__adresses-item">
						<span class="t-caps">fax</span><a class="сh-contacts__adresses-link" href="fax:+358.555.1234567">+358.555.1234567</a>
					</li>
					<li class="сh-contacts__adresses-item">
						<span class="t-caps">web</span><a class="сh-contacts__adresses-link" href="www.designagency.net" target="_blank">www.designagency.net</a>
					</li>
					<li class="сh-contacts__adresses-item">
						<span class="t-caps">e-mail</span><a class="сh-contacts__adresses-link" href="mailto:info@designagency.net">info@designagency.net</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
