<section class="ch-contacts">
	<div class="container">
		<h2 class="cahee__title">Contacts</h2>
		<h4 class="cahee__subtitle">For new projects, ideas, business or anything
		you'd like to discuss, contact with me!</h4>

		<div class="ch-contacts__wrapper">
			<form class="ch-contacts__form">
				<input type="text" placeholder="Auskteez Tran" required name="username" class="ch-contacts__field">
				<input type="email" placeholder="Your email..." required name="email" class="ch-contacts__field">
				<input type="tel" placeholder="Your phone number..." required name="number" class="ch-contacts__field">
				<textarea name="message" id="message" class="ch-contacts__field" rows="5" placeholder="Your messge..."></textarea>

				<input type="submit" name="submit" class="ch-contacts__submit" value="Send">
			</form>
			<div class="ch-contacts__adresses">
				<ul class="ch-contacts__adresses-list">
					<li class="ch-contacts__adresses-item">
						<span class="t-caps">address</span>
						<a class="ch-contacts__adresses-link">123 City name, Street, City, Country
						</a>
					</li>
					<li class="ch-contacts__adresses-item">
						<span class="t-caps">e-mail</span>
						<a class="ch-contacts__adresses-link" href="mailto:cahee@domain.com">cahee@domain.com</a>
					</li>
					<li class="ch-contacts__adresses-item">
						<span class="t-caps">phone</span>
						<a class="ch-contacts__adresses-link" href="tel:+012 345 6789">+012 345 6789</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
</section>
