<section class="ch-footer">
	<a href="#" class="ch-footer__left">© 2015 Company. All right reserved.</a>
	<a href="#" class="ch-footer__logo">cahee</a>
	<a href="#" class="ch-footer_right">Made with <span>love</span> by Auskteez</a>
</section>