<section class="ch-footer">
	<div class="container">
		<div class="ch-footer__content">
			<p href="#" class="ch-footer__left">© 2015 Company. All right reserved.</p>
			<a href="#" class="ch-footer__logo">cahee</a>
			<p>Made with <a href="#" class="ch-footer__ankor">love</a> by Auskteez</p>
		</div>
	</div>
</section>