<section id="gallery" class="ch-gallery">
	<div class="container">
		<!-- <div class="ch-gallery__wrapper"> -->
			<!-- <div class="ch-gallery-header"> -->
				<h2 class="ch-gallery__title">gallery</h2>
				<p class="ch-gallery__subtitle">
					Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
		<!-- 	</div> -->
			<div class="ch-gallery__content">
				<ul class="ch-gallery__list">
					<li class="ch-gallery__item large">
						<a href="#" class="ch-gallery__link-lg">
							<img src="../../../img/gallery1.jpg" alt="">
						</a>
					</li>
					<li class="ch-gallery__item small">
						<a href="#" class="ch-gallery__link-sm">
							<img src="../../../img/gallery2.jpg" alt="">
						</a>
					</li>
					<li class="ch-gallery__item small">
						<a href="#" class="ch-gallery__link-sm">
							<img src="../../../img/gallery3.jpg" alt="">
						</a>
					</li>
					<li class="ch-gallery__item middle">
						<a href="#" class="ch-gallery__link-md">
							<img src="../../../img/gallery4.jpg" alt="">
						</a>
					</li>
					<li class="ch-gallery__item middle">
						<a href="#" class="ch-gallery__link-md">
							<img src="../../../img/gallery5.jpg" alt="">
						</a>
					</li>
				</ul>

			</div>
			<a class="btn-gallery" href="#">VIEW MORE</a>
	<!-- 	</div> -->
	</div>

</section>
