<section class="ch-gallery">
	<div class="container">
		<h2 class="ch-gallery__title">
			gallery
		</h2>

		<h4 class="ch-gallery__subtitle">
			Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</h4>

		<ul class="ch-gallery__item">
			<li class="ch-gallery__list">
				<a href="#" class="ch-gallery__link peach large" target="_blank"></a>
			</li>
			<li class="ch-gallery__list">
				<a href="" class="ch-gallery__link"></a>
			</li>
			<li class="ch-gallery__list">
				<a href="" class="ch-gallery__link"></a>
			</li>
			<li class="ch-gallery__list">
				<a href="" class="ch-gallery__link"></a>
			</li>
			<li class="ch-gallery__list">
				<a href="" class="ch-gallery__link"></a>
			</li>
		</ul>

		<a href="#" class="ch-gallery__btn cahee__shadow">view more</a>
	</div>

</section>