<section class="ch-subscribe">
	<div class="container">
		<div class="ch-subscribe__wrapper">
			<div class="ch-subscribe__content">
				<h3 class="ch-subscribe__title">subscribe to us</h3>
				<h5 class="ch-subscribe__subtitle">Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h5>
			</div>
			<form class="ch-subscribe__send">
				<input class="ch-subscribe__input" type="text" placeholder="your email address...">
				<input class="ch-subscribe__btn" type="submit" value="subscribe">
			</form>
		</div>
	</div>
</section>