.bh-first-screen {
	background: url("../img/bg-header.jpg") center no-repeat;
	min-height: 100vh;
	display: flex;
	color:$white;
	align-items: stretch;
	flex-direction: column;


	&__title {
		text-transform: uppercase;
		margin-bottom: 15px;
	}

	&__subtitle {
		margin-bottom: 50px;
	}

	&__search {
		display: flex;
		justify-content: center;
		margin-bottom: 50px;

		&-place {
			width: 500px;
			height: 60px;
			text-align: center;
		}

		&-btn {
			height: 60px;
			width: 145px;
			background-color: $button-blue;
			color:$white;
			text-transform: uppercase;
			border:3px solid $white;

			&:hover  {
				background-color: darken($button-blue, 10%);
			}
		}
	}


	&__scrool {
		display: flex;
		justify-content: center;

		&-link {
			text-decoration: none;
			color: $white;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&-text {
			text-transform: capitalize;
			margin-bottom: 10px;
		}
	}

	&__footer {
		background-color: $blue;
		display: flex;
		height: 80px;
		justify-content: space-around;

		&-logo {
			text-decoration: none;
			color:$white;
			font-family: $main-font;
			font-size: $logo-size;
			text-transform: uppercase;
			display: flex;
			align-items: center;
		}

		&-nav {
			list-style: none;
			display: flex;
			align-items: center;
			font-size:$navigation-size;
			font-family:$secondary-font; 
		}

		&-link {
			text-transform: uppercase;
			text-decoration: none;
			color: $white;

			&:hover {
				opacity: 0.6;
			}
		}

		&-item:not(:last-child) {
			margin-right: 40px;

		}

	}

}

// .bh-first-screen__content {
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: space-around;

// }

.bh-first-screen__text {
	text-align: center;
}