.first-screen {
	height: 100vh;
	background:$bg url("../img/1.jpg") top center no-repeat;

	&__logo {
		font-family: $font-logo;
		font-size: 50px;
		text-decoration: none;
		text-transform: capitalize;
		color: $title-font;
		height: 88px;
		margin-right: 30px;
		display: flex;

	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 90%;
	}

	&__menu {
		display: flex;
		align-items: center;
		list-style: none;
		text-transform: uppercase;
	}

	&__item {
		display: flex;
	}

	&__item:not(:last-child) {
		margin-right: 40px;

	}

	&__link {
		display: inline-block;
		color: $menu;
		line-height: 1;
		text-decoration: none;
		cursor: pointer;
		font-weight: 900;
	}

	&__link:after {
		background-color: $line-menu;
		display: block;
		content: "";
		height: 4px;
		width: 0%;
		-webkit-transition: width .3s ease-in-out;
		-moz--transition: width .3s ease-in-out;
		transition: width .3s ease-in-out;
	}

	&__link:hover:after,
	&__link:focus:after {
		width: 100%;
	}

}

#menu-checkbox {
	display: none;
}

.first-screen__content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main {
	font-size: 100%;
}

.title {
	font-weight:900;
	font-size:60px;
	margin-bottom: 35px;
	color: $title-font;
}

.subtitle {
	font-weight: 300;
	font-size: 17px;
	margin-bottom: 35px;
	max-width: 400px;
	line-height: 27px;
}

.button {
	display: inline-block;
	color:#fff;
	background-color: $line-menu;
	text-transform:uppercase;
	font-weight: 400;
	font-size: 20px;
	min-width: 200px;
	text-decoration: none;
	padding: 17px 24px;
	border:1px solid grey;
	transition: all .3s ease;

	&:hover {
		color:$line-menu;
		background-color: $letter-color;
	}
}

.first-screen__footer {
	display: flex;
	justify-content: center;
	padding: 50px 0;
}

.scrol-link {
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 768px) {
	.first-screen__content {
		width: 100%;
		display: flex;
		justify-content: space-around;
	}

	.first-screen__menu {
		display: none;
	}

	.first-screen__item {
		width: 100%;
		display: block;
		font-size: 12px;
	}

	.first-screen__link {
		display: flex;
		padding: 8px;
	}
	.toggle-button {
		cursor: pointer;
		text-align: center;
		display: block;
		color: #000;
	}

	.toggle-button:after {
		display: block;
		content: attr(data-open);
	}

	#menu-checkbox:checked + nav[role="navigation"] .first-screen__menu {
		display: block;

	}

	#menu-checkbox:checked + nav[role="navigation"] .toggle-button:after {
		content: attr(data-close);
	}

	.first-screen__link {
		margin-right: -75px;
	}

	.first-screen__menu {
		position: relative;
		top:30px;
		right: 115px;
	}
}