* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-size:100%;
	font-family: sans-serif;
}

footer {
	background-color: black;
	margin: 0 auto;
}

.item {
	text-align: center;
}

h2,hr {
	color: white;
	text-align: center;
}

nav {
	text-align: center;
}

.nav_a:hover {
	background-color: orange;
	color: red;
	border-color: currentcolor;
	display: block;
	border-radius: 1 50%;

}

.nav_li {
	display:inline-block;
}

.nav_li:not(:last-child) {
padding-right: 20px;
}

.down {
	text-align: center;
	color: white;
	text-transform: capitalize;
}

.copyring_a {
	color:#19C8FA; 
}
