* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-size:100%;
	font-family: sans-serif;
	padding-top: 40px;
}

footer {
	background-color: black;
	margin: 0 auto;
	padding-top: 120px 0 55px;
	padding-bottom: 42px;
}

.nav__li:not(:last-child) {
	margin-right: 36px;
}

.nav__a:hover {
	background: orange;
	padding:1px;
	border-radius: 15px;
}

.logo__a {
	display: inline-block;
	margin-top: 120px;
	margin-bottom: 45px;
}

.p__line {
	margin-bottom: 15px;
}

li {
	max-width: 145px;
	display: inline-block;
}

.text__p {
	color: white;
	font-size: 15px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.navigation {
	margin-bottom: 85px;
}

nav,
.logo__p,
.copyring__p,
.text__p,
.p__line {
	text-align: center;
}

.copyring__p {
	color: white;
	text-transform: capitalize;
	font-size: 15px;
}

span {
	color:#19C8FA;
}