* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}

footer {
	background-color: #121116;
	margin: 0 auto;
	padding: 120px 0 35px;
}

.item {
	text-align: center;
	padding-bottom: 55px;
}

.item_a {
	font-size: 0;
	display: inline-block;
}

h2 {
	color: white;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 20px;
}

nav {
	text-align: center;
	padding: 20px 0 90px;
}

hr {
	width: 230px;
	margin: 0 auto;
}

.nav_ul {
	display:inline-block;
	font-size: 0;
}

.nav_li:not(:last-child) {
	padding-right: 35px;
}

.nav_a {
	display: inline-block;
}

.nav_li {
	display: inline-block;
	font-size: 0;
}

.down {
	text-align: center;
	color: white;
	text-transform: capitalize;
}

.copyring_a {
	color:#19C8FA;
	text-decoration: none;
}
