* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body {
	height: 100%;
}

body {
	margin: 0 auto;
	font-family: sans-serif;
	font-size: 18px;
	background: #373F41;
}

.title {
	text-align: center;
	width: 100%;
	background: #474E50;
	color: #D88B80;
	padding: 10px 0 10px;
	margin-bottom: 20px;
}

.container {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	padding: 0 20px;
}

span,h3 {
	text-transform: capitalize;
}

.container_label {
	display: block;
	height: 40px;
	padding-left: 10px;
	background: #848499;
	transition: all .1s ease-in;
	border: 2px groove transparent;
}

.container_li {
	position: relative;
}

.dbl-border {
	color: white;
	list-style: none;
	margin: 0 auto;
	margin-bottom: 30px;
}

input:checked + span {
	text-decoration: line-through;
}

.container_span {
	height: 40px;
	line-height: 40px;
	white-space: nowrap;
}

[type="checkbox"] {
	margin-right: 10px;
}

.container_li:nth-child(2n) > label {
	background: #77778E;
}

.container_li:first-child {
	border-top: none;
}

.container_li:last-child {
	border-bottom: none;
}

.container_li .container_label:hover {
	background: #625E77;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}

.container_li .container_label:active {
	background: #D88B80;
}

[type="submit"]:active {
	display: block;
	color: #474E50;
	background: #D88B80;
}

[type="submit"] {
	width: 100%;
	display: block;
	padding: 15px 0 15px;
	font-size: 18px;
	color: #D88B80;
	margin: 0 auto;
	background: #474E50;
	border:none;
}

