<% const filter = ['all', 'mobile apps', 'identities', 'interior design', 'ui/ux'] %>

<% const cards = ['img1', 'img2', 'img3', 'img4', 'img5', 'img6', 'img7', 'img8'] %>

<section class="projects">
	<div class="container">
		<div class="row justify-content-center mb-70">
			<div class="col-6">
				<div class="projects__top">
					<img class="projects__top-img" src="<%= blocks.imgholder %>75/75/nature" alt="">
					<div class="projects__top-titles">
						<h2 class="projects__top-title">Our projects</h2>
						<h5 class="projects__top-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, aliquid.</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-center mb-5">
			<div class="col-8">
				<ul class="projects__filter">
					<% filter.forEach(function(filterItem, index){ %>
					<% let className = 'projects__filter-btn' %>
					<% if (index === 0) className += ' current' %>
					<li class="projects__filter-item">
						<button type="button" class="<%= className %> btn btn-light"><%= filterItem %></button>
					</li>
					<% }) %>
				</ul>
			</div>
		</div>
		<div class="row">

			<% cards.forEach(card => { %>
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 py-2">
					<div class="card">
						<div class="card__img-wrap">
							<img class="card__img" src="./img/<%= card %>.jpg" alt="">
						</div>
						<ul class="card__list">
							<li class="card__list-item">
								<a href="#" class="card__list-link">
									link_1
								</a>
							</li>
							<li class="card__list-item">
								<a href="#" class="card__list-link">
									link_2
								</a>
							</li>
						</ul>
					</div>
				</div>
			<% }) %>

		</div>
	</div>
</section>