<% const menu = ['blog', 'jobs', 'support', 'arabic'] %>
<% const socialMenu = ['fa-facebook-square', 'fa-twitter', 'fa-instagram', 'fa-google-plus-g'] %>

<nav class="top-nav">
	<div class="container">
		<div class="row">
			<div class="col-6">
				<ul class="nav nav-pills">
					<% menu.forEach(function(menuItem){ %>
					<li class="nav-item">
						<button type="button" class="btn btn-outline-secondary nav-link"><%= menuItem %></button>
					</li>
					<% }) %>
				</ul>
			</div>
			<div class="col-6">
				<ul class="social-nav">
					<% socialMenu.forEach(function(className){ %>
					<li class="social-nav__item">
						<a href="#" class="social-nav__link" target="_blank">
							<i class="fab <%= className %>"></i>
						</a>
					</li>
					<% }) %>
				</ul>
			</div>
		</div>
	</div>
</nav>