<%const animals = [
	{img: 'animals', title: 'О собаках', text: 'Говорят, что собака – лучший друг человека и это неоспоримая правда. Собаки стали домашними животными еще в древние времена, когда люди только начинали становиться разумными. Почему мы любим эти замечательных животных? Во-первых, эти звери умны и могут приносить людям различную пользу. Существуют псы-поводыри для людей с ограниченными возможностями, которые помогают слепым переходить дорогу, или передвигаться по городу или дому без каких либо происшествий. Во-вторых, у некоторых псов есть самая настоящая работа: они работают в полиции, в пожарных, поисковых и спасательных службах и операциях. Они могут вытащить детей из огня, когда все выходы заблокированы, или найти раненного человека под обломками транспортного средства. Кроме того, их нюх помогает предотвратить многочисленные преступления, связанные с наркотиками, взрывами бомб и найти пропавших людей или сбежавших преступников. В третьих, эти животные – прекрасные охранники и помощники на охоте.'},
	{img: 'animals', title: 'О котах', text: 'Много людей имеют разных домашних животных и большинство из них – кошки. Некоторые люди считают, что кошки успокаивают нас, дарят нам чувство умиротворенности, потому что эти утонченные создания такие проницательные! Кошки всегда присутствовали в нашей жизни. Например, в Древнем Египте кошки считались священными животными. Сегодня мы держим кошек в качестве домашних животных, так как онинам нужны. Кошки обеспечивают нам дружеское общение и удовольствие. Например, одинокий человек держит кошку, потому что она ему вместо друга. Вы начинаете чувствовать себя счастливее, когда гладите кошку. Кошки учат нас быть заботливыми и ответственными. Держать кошку в качестве домашнего животного полезно для здоровья! Кошки как доктора! Ученые открыли, что если вы гладите кошку, то ваше кровяное давление понижается, так же проходит стресс и чувство одиночества.'}
]%>

<% animals.forEach(animal => { %>
<div class="col-6">
	<div class="about__card">
		<img class="about__card-img" src="<%= blocks.imgholder %>100/100/<%= animal.img %>" alt="">
		<div class="about__card-texts">
			<h3 class="about__card-title"><%= animal.title %></h3>
			<p class="about__card-text"><%= animal.text %></p>
		</div>
	</div>
</div>
<%})%>