@font-face {
	font-family: ProximaNovaRegular;
	src: url("../assets/fonts/Proxima Nova Regular.otf");
}

@font-face {
	font-family: PlayfairDisplay;
	src: url("../assets/fonts/PlayfairDisplay-Regular.ttf");
}

@font-face {
	font-family: FuturaPTHeavy;
	src: url("../assets/fonts/FuturaPTHeavy.otf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body {
	min-height: 100%;
}

body {
	width: 100%;
	font-family: sans-serif;
	color:#464f54;
	margin: 0 auto;
}


.container {
	width: 100%;
	max-width: 1200px;
	background: #464f54;
	padding-top: 150px;
	margin: 0 auto;
	position: relative;
}

.main {
	width: 100%;
	max-width: 1060px;
	background-color: white;
	padding: 150px 130px 40px 125px;
	margin: 0 auto;
}

// .vertical_line {
// border-left: 2px solid #ccc; /* Параметры линии */ 
//     margin-left: 67px; /* Отступ слева */
//     padding-left: 55px; /* Расстояние от линии до текста */ 
// }

.autor {
	font-family: ProximaNovaRegular;
	font-size: 15px;
	margin-bottom: 50px;
	color: #8f8f8f;
	text-transform: uppercase;
}

.text__h1 {
	font-size:78px;
	font-family: FuturaPTHeavy,sans-serif;
	color: #2a2a2a;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.text__h2 {
	color:#8f8f8f;
	font-style: italic;
	margin-bottom: 70px;
}

.text__p {
	font-family: ProximaNovaRegular,sans-serif;
	font-size:26px;
	color: black;
}

.down {
	margin-bottom: 40px;
}

.navigation {

	
}
.navigation__list {
	width: 100%;
	max-width: 812px;
	display: inline-flex;
	position: absolute;
	background-color:#f7bd2c; 
}

/* #f7bd2c yellow
#181818  gray dark */