* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-size: 100%;
	font-family: sans-serif;
	background-color: #990909;
	color: white;
}

.main-header {
	padding-top: 10px;
	padding-bottom: 5px;
	text-align: center;
}

.main-header__link {
	display: inline-block;
	font-size: 0;
}

.navigation {
	background-color: black;
	padding: 20px 0 0;
	text-align: center;
}

.navigation__list-item {
	display: inline-block;
	max-width: 190px;
}

.navigation__list-img {
	width: 100%;
}

.navigation__list-item:not(:last-child) {
	margin-right: 80px;
}

.navigation__list-link {
	display: block;
	font-size: 0;
	text-decoration: none;
	color: white;
}

.navigation__figcaption {
	font-size: 1.2rem;
	text-align: center;
	text-transform: capitalize;
}

.main__article {
	font-size: 0;
	display: flex;
}

.main__article > * {
	width: 100%;
	font-size: 1rem;
}

.main__navigation  {
	max-width: 20%;
	background-color:#7d0909;
}
.main__content {
	max-width: 65%;
	padding-top: 20px;
}

.main__aside {
	max-width: 15%;
}


.main__navigation-link {
	color: #e95b11;
}

.main__navigation-item,
.main__contetn-text {
	margin-bottom: 20px;
}

.main__navigation-item:last-chald,
.main__contetn-text:last-chald {
	margin-bottom: 0;
}
.main__aside {
	background-color: white;

}
.main__aside-list {
	list-style: none;
}

.main__aside-link {
	display: block;
	text-decoration: none;
	color: black;
	padding: 20px 0
}
.main__aside-title {

	color: black;
	text-align: center;
	text-transform: capitalize;
	font-weight: bold;
	background-color:#bdbdbd;
	margin-bottom: 5px; 
}
.main__aside-item {
	position: relative;
}

.main__aside-item::before {
	display: block;
	width: 70px;
	border-top: 1px solid #bdbdbd; 
	position: absolute;
	top: 0;
	left: 50%;
	transform:translate(-50%);
}
/* #990909 - page bgred
#7d0909 - aside bgred
#bdbdbd - dark grey
#e3dddd - light grey
#000000 - black
#ffffff - white
#e95b11 - orange */


