.first-screen {
	height: 100vh;
	background: url("../img/first-screen.jpg") center/cover no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__header {
		display: flex;
		justify-content: center;
	}

	&__title {
		text-align: center;
		margin: 0 auto;
		max-width: 590px;
		font-size: 54px;
		font-weight: 700;
		text-transform: uppercase;
		color: $fs;

		@include xs-screen {
			margin-bottom: 10px;
			font-size: 30px;
			max-width: 320px;
		}
		@include  media-hidden-min {
			max-width: 80%;
		}
	}

	&__subtitle {
		text-align: center;
		margin: 0 auto;
		max-width: 590px;
		color: $fs;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 16px;
		line-height: 29px;
		margin-bottom: 30px;

		@include xs-screen {
			font-size: 13px;
		}

		@include md-screen {
			max-width: 80%;
		}
	}

	&__footer {
		display: flex;
		justify-content: center;
		@include xs-screen {
			display: none;
		}
	}

	.scroll {
		fill:$fs;

		@include md-screen {
			display: none;
		}
	}

	&__logo-img {

		@include md-screen {
			height: 42px;
			width: 42px;
		}

		@include xs-screen {
			margin-bottom: 10px;
			display: none;
		}
	}

}


