<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');

=======
//  font-family: 'Lato', sans-serif;
// // font-family: 'Playfair Display', serif;

@font-face {
	font-family: LatoLight;
	src: url(../assets/fonts/Lato-Light.ttf);
}

@font-face {
	font-family: LatoBold;
	src: url(../assets/fonts/Lato-Bold.ttf);
}

@font-face {
	font-family: PlayfairDisplay;
	src: url(../assets/fonts/PlayfairDisplay-Regular.ttf);
}
>>>>>>> 08dcdc0ba0720d6f084fdc1e72a53f500e3fdb07

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body {
	max-height: 100%;
}

body {
	width: 100%;
<<<<<<< HEAD
	font-family: sans-serif;
	color: #8f8f8f;
=======
	font-family: LatoLight, sans-serif;
	color: #5c5c5c;
>>>>>>> 08dcdc0ba0720d6f084fdc1e72a53f500e3fdb07
	padding-top: 20px;
	margin: 0 auto;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.text {
	display: block;
	padding: 120px;
	box-shadow: 3px 3px 10px 0 rgba(0,0,0,.5);
	margin: 0 auto;
}

.text__title {
	font-size: 42px;
<<<<<<< HEAD
	color: black;
	font-family: 'Playfair Display', serif;
=======
	font-family: Playfair Display, serif;
	color: black;
>>>>>>> 08dcdc0ba0720d6f084fdc1e72a53f500e3fdb07
	text-transform: capitalize;
	margin-bottom: 40px;
}

.text__style {
	font-size: 18px;
	margin-bottom: 50px;
	line-height: 1.5;
}

.t:first-letter {
	font-size: 110px;
<<<<<<< HEAD
	color:black;
	font-family: 'Playfair Display', serif;
=======
	font-family: PlayfairDisplay, serif;
	color: black;
>>>>>>> 08dcdc0ba0720d6f084fdc1e72a53f500e3fdb07
	float: left;
	padding-right: 30px;
	line-height: .8;
}

.bq {
	font-size: 25px;
	margin-bottom: 45px;
	display: block;
}

.button {
	display: inline-block;
	font-family: LatoBold, sans-serif;
	font-size: 18px;
	color: #eaa258;
	border: 2px solid  #eaa258;
	text-decoration: none;
	text-transform: uppercase;
	padding: 26px 75px;
}

.button:hover {
	color: white;
	background-color: #eaa258;
}