* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
}

body {
	// font-family: $font;
	// font-size:  $fsize;
	font-size: 100%;

}

li {
	list-style: none;
	display: flex;
}

a {
	text-decoration: none;
}

.header-container {
	width: 90%;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
}

.header-container a {
	color: #000;
	font-size: 16px;
	margin-right: 63px;
	padding: 27px 6px;
}

.header-container a:hover {
	background: yellow;
}

#menu-checkbox {
	display: none;
}
ul {
	display: flex;
}
nav  {
	margin-top: 20px;
}

@media screen and (max-width: 420px) {
	.header-container {
		width: 100%;
		display: flex;
		justify-content: space-around;
	}

	.main-menu {
		display: none;
	}

	.main-menu  li {
		width: 100%;
		display: block;
		font-size: 12px;
	}

	.main-menu  a {
		display: block;
		padding: 8px;
	}
	.toggle-button {
		cursor: pointer;
		text-align: center;
		display: block;
		color: #000;
	}

	.toggle-button:after {
		display: block;
		content: attr(data-open);
	}

	#menu-checkbox:checked + nav[role="navigation"] .main-menu {
		display: block;
	}

	#menu-checkbox:checked + nav[role="navigation"] .toggle-button:after {
		content: attr(data-close);
	}

	.header-container a {
		margin-right: -65px;
	}

	 .main-menu {
	 	position: relative;
	 	top:30px;
	 	right: 115px;
	 }
}









// .first-screen {
// 	position: relative;
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// 	align-items: center;
// 	text-align: center;
// 	// max-width: 900px;
// 	// margin: 0 auto;
// 	border: 2px solid #000;
// 	border-top: none;
// }

// .first-screen::before {
// 	left: 0;
// }
// .first-screen::before, 
// .first-screen::after {
// 	content: "";
// 	position: absolute;
// 	display: block;
// 	border-top: 2px solid #000;
// 	width: 27%;
// 	top: 0;
// }

// .first-screen::after {
// 	right: 0;
// }
// .first-screen::before, 
// .first-screen::after {
// 	content: "";
// 	position: absolute;
// 	display: block;
// 	border-top: 2px solid #000;
// 	width: 27%;
// 	top: 0;
// }

// .title {
// 	text-transform: uppercase;
// 	margin-bottom: 40px;
// 	font-size: 2.1rem;
// 	letter-spacing: 5px;
// 	transform: translatey(-50%);
// }



// .flex{
// 	display: flex;

// 	max-width: 700px; /* макс ширина блока */
// 	margin: 0 auto; /* выравниваем блок по центру */
// 	font-size:400%;
// }

// .mainitem, .item{
// 	flex-grow:1;  растягивание элементов 

// 	background:#b5ced8;
// 	display: flex; justify-content: center; align-items: center; /* цифры по центру */
// }

// .mainitem{
// 	min-height:300px; /* высота основного блока */
// }

// .sideitem{
// 	/* flex:0 0 150px; */
// 	flex-basis:150px; /* ширина 150 */
// 	flex-shrink:0; /* Убираем уменьшение = 150 */				   

// 	display: flex;
// 	flex-direction: column;
// }

// .item{
// 	flex-basis:50%;
// 	min-height:150px;
// 	margin-left:10px;
// }
// .item:first-child{ margin-bottom:10px; }

// /* меньше 600px */
// @media screen and (max-width: 600px) {
// 	.flex{ flex-wrap: wrap; } /* для переноса */

// 	.sideitem{ flex-direction:row; flex-basis:100%; }

// 	.item{ margin-left:0; margin-top:10px; }
// 	.item:first-child{ margin-bottom:0; margin-right:10px; }
// }

// /* меньше 450px */
// @media screen and (max-width: 450px) {
// 	.sideitem{ flex-wrap: wrap; } /* разрешаем перенос */
// 	.item{ flex-basis:100%; } /* на всю ширину */
// 	.item:first-child{ margin-right:0; }
// }


// .flex{
// 	display: flex;
// 	flex-wrap: wrap;

// 	max-width: 1920px; /* макс ширина */
// 	margin: 0 auto; /* выровняем по центру */
// }

// .item{
// 	// flex:1 1 1;  отнимем margin и скажем растягиваться 
// 	flex-basis: 30%;
// 	margin:5px;
// 	box-sizing:border-box;  чтобы внутренний отступ не влиял когда там будет текст... 
// 	// min-width:540px; /* мин. ширина блока, чтобы переносились на другой ряд */

// 	// padding:50px 20px; 
// 	// font-size:400%; 
// 	// text-align:center; 
// 	// background:#b5ced8; /* для красоты */
// }

// .container {
// 	max-width: 900px;
// 	margin: 0 auto;

// }

// .nav,#touch-menu {
// 	background:#3e4156;
// 	display: flex;
// 	list-style: none;
// }

// .nav li a ,
// #touch-menu {
// 	display: flex;
// 	color:white;
// 	padding: 10px 15px;
// }

// .nav li a:hover,
// #touch-menu:hover {
// 	background: lighten(#3e4156, 10%);
// }

// #touch-menu {
// 	display: none;
// }
// @media (max-width: 768px) {
// 	.nav {
// 		display: none;
// 	}
// 	#touch-menu {
// 		display: flex;
// 	}

// }
