.pic {
	background-color: green;
}



.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.large {
	height: 545px;
	max-width: 770px;
	margin-bottom: 30px;
}

.small {
	height: 260px;
	max-width: 370px;
}

.small:not(:last-child) {
	margin-bottom: 25px;
}


.middle {
	height: 400px;
	max-width: 565px;
}

