<section class="about">
	<div class="container">
		<div class="row ">
			<div class="col-md-6">
				<h2>Tinyone features</h2>
			</div>
			<div class="col-mb-10">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.</p>
			</div>

		</div>


		<!-- <div class="about__left">
			<h3>Fully Responsive</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>

			<h3>HTML3 & CSS3 </h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
		</div>

		<div class="about__right">
			<h3>Font Awesome Icons</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>

			<h3>Free to download</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
		</div>
	-->



</div>
</section>