<section class="footer">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-5">
				<h2 class="footer__title">Keep in touch with us</h2>
			</div>
			<div class="col-10">
				<p class="footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.</p>
			</div>
		</div>
		<form class="footer__form">
			<input class="input" type="text" placeholder="Enter your email to update" required id="search">
			<input class="btn" type="submit" value="submit" for="search">
		</form>

		<div class="footer__nav">
			<ul class="footer__nav-list">
				<li class="footer__nav-item">
					<a class="footer__nav-link">HALOVIETNAM LTD 66, Dang Van ngu, Dong Da Hanoi, Vietnam
					</a>
				</li>
				<li class="ch-contacts__adresses-item">
					<a class="footer__nav-link" href="mailto:contact@halovietnam.com">contact@halovietnam.com</a>
				</li>
				<li class="ch-contacts__adresses-item">
					<a class="footer__nav-link" href="tel:+84435149182">+844 35149182</a>
				</li>
			</ul>

			<ul class="footer__nav-list">
				<li><a class="footer__nav-link" href="#">Examples</a></li>
				<li><a class="footer__nav-link" href="#">Shop</a></li>
				<li><a class="footer__nav-link" href="#">License</a></li>
			</ul>
			<ul class="footer__nav-list">
				<li><a class="footer__nav-link" href="#">Contact</a></li>
				<li><a class="footer__nav-link" href="#">About</a></li>
				<li><a class="footer__nav-link" href="#">Privacy</a></li>
				<li><a class="footer__nav-link" href="#">Terms</a></li>
			</ul>
			<ul class="footer__nav-list">
				<li><a class="footer__nav-link" href="#">Download</a></li>
				<li><a class="footer__nav-link" href="#">Support</a></li>
				<li><a class="footer__nav-link" href="#">Documents</a></li>
			</ul>
			<ul class="footer__nav-list">
				<li><a class="footer__nav-link" href="#">Media</a></li>
				<li><a class="footer__nav-link" href="#">Blog</a></li>
				<li><a class="footer__nav-link" href="#">Forums</a></li>
			</ul>
		</div>


	</div>
</section>
