.about {
	width: 100%;
	height: 100vh;
	background: $bg-about;
	display: flex;

	&__img {

		@include md-screen-max  {
			width: 80%;
			margin:0;
		}

		@include sm-screen-max {
			display: none;
		}
	}
}

.about__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100vh;

	@include md-screen-max {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&-left {

		width: 80%;

		@include md-screen-max {
			display: flex;
			justify-content: center;
		}
	}

	&-right {
		color:$letter-color;

		@include sm-screen-max {
			display: flex;
			flex-direction: column;
		}

		@include md-screen-max {
			display: flex;
			flex-direction: column;
		}


		.about__title {
			font-size: 90px;
			font-weight: 700;

			@include sm-screen-max {
				text-align: center;
			}

			@include md-screen-max {
				text-align: center;
			}
		}

		.about__subtitle {
			font-size: 17px;
			font-weight: 300;
			line-height: 27px;

			&:not(:last-child) {
				margin-bottom: 20px;
			}

			@include sm-screen-max {
				text-align: center;
			}

			@include md-screen-max {
				text-align: center;
			}
		}

	}

	.container {

		@include md-screen-max {
			max-width: 960px;
		}
	}

}


