.cahee__section {
	padding: 100px 0;
}

.t-lower {
	text-transform: lowercase;
}

.cahee__btn {
	display: block;
	background-color: #f72b3b;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
	padding: 15px 0;
	max-width: 200px;
	margin: auto;
}

.cahee__btn:hover {
	background-color: #fff;
	font-weight: 700;
	color: #f72b3b;
}

.cahee-shadow {
	box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.5);
}

.blog {
	background-color: #b07cf7;
}

.cahee__title {
	font-size: 90px;
	font-weight: bold;
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 40px;
}

.cahee__subtitle {
	font-size: 17px;
	font-weight: 300;
	width: 100%;
	max-width: 570px;
	margin: auto;
	text-align: center;
	line-height: 1.4;
	margin-bottom: 50px;
}

.blog__list {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.blog__link {
	display: block;
	width: 100%;
	min-width: 368px;
	max-width: 368px;
	height: 310px;
	padding: 30px;
	text-decoration: none;
	color: #fff;
	position: relative;
}

.blog__link:hover {
	transform: translateY(-10px);
}

.blog__link[data-img="lemon"] {
	background: url("../img/1.png") no-repeat;
}

.blog__link[data-img="soup"] {
	background: url("../img/2.png") no-repeat 0 100%;
}

.blog__link[data-img="raspberry"] {
	background: url("../img/3.png") no-repeat;
}

.blog__date {
	display: inline-block;
	width: 60px;
	height: 60px;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	padding: 10px;
	line-height: .5;
	text-transform: uppercase;
	border-radius: 5px;
	background-color: rgba(0,0,0,.4);
}

.blog__month {
	display: block;
	font-size: 18px;
	font-weight: 900;
	line-height: 1;
	transform: translateY(7px);
}

.blog__title {
	font-size: 20px;
	font-weight: 700;
	text-transform: capitalize;
	line-height: 1.1;
	margin-bottom: 20px;
}

.blog__author {
	font-size: 16px;
	font-weight: 300;
}

.blog__footer {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 30px;
	width: 100%;
	background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(0,0,0,0.5) 30%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(0,0,0,0.5) 30%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/*
#b07cf7 - violet
#f72b3b - pink
#fff
#000
*/

.bg_green {
	background-color: green;
}