* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	min-height: 100%;
}

body {
	font-family: $font;
	scroll-behavior: smooth;
}

.container {
	width: 100%;
	height: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

ul {
	list-style: none;
	li {
		a {
			text-decoration: none;
		}
	}
}

.ch__title {
	font-size: 90px;
	font-weight: 700;
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 40px;
}

.ch__subtitle {
	font-size: 17px;
	font-weight: 300;
	width: 100%;
	max-width: 570px;
	margin: auto;
	text-align: center;
	line-height: 1.4;
	margin-bottom: 50px;
}

.ch-shadow {
	box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.5);
}