.first-screen {
	height: 100vh;
	background:$bg url("../img/1.jpg") center/cover no-repeat;

	&__logo {
		font-family: $font-logo;
		font-size: 50px;
		text-decoration: none;
		text-transform: capitalize;
		color: $title-font;
		margin-right: 20px;

		@include sm-screen-max {
			font-size: 35px;
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 50px 0;

		@include sm-screen-max {
			padding: 20px 0;
		}
	}

	&__menu {
		display: flex;
		align-items: center;
		list-style: none;
		text-transform: uppercase;
	}

	&__item:not(:last-child) {
		margin-right: 40px;

		@include sm-screen-max {
			margin: 0;
		}
	}

	&__link {
		display: inline-block;
		color: $menu;
		line-height: 1;
		text-decoration: none;
		cursor: pointer;
		font-weight: 900;
	}

	&__link:after {
		background-color: $line-menu;
		display: block;
		content: "";
		height: 4px;
		width: 0%;
		transition: width .3s ease-in-out;
	}

	&__link:hover:after,
	&__link:focus:after {
		width: 100%;
	}


}

.first-screen__content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main {
	font-size: 100%;

	@include sm-screen-max  {
		text-align: center;
	}
}

.title {
	font-weight:900;
	font-size:60px;
	margin-bottom: 35px;
	color: $title-font;

	@include sm-screen-max {
		margin-bottom: 10px;
	}
}

.subtitle {
	font-weight: 300;
	font-size: 17px;
	margin-bottom: 35px;
	max-width: 400px;
	line-height: 27px;

	@include sm-screen-max  {
		margin:0 auto 35px;
	}
}

.button {
	display: inline-block;
	color:#fff;
	background-color: $line-menu;
	text-transform:uppercase;
	font-weight: 400;
	font-size: 20px;
	min-width: 200px;
	text-decoration: none;
	padding: 17px 24px;
	border:1px solid grey;
	transition: all .3s ease;

	&:hover {
		color:$line-menu;
		background-color: $letter-color;
	}
}


.first-screen__footer {
	display: flex;
	justify-content: center;
	padding: 50px 0;
}

.scrol-link {
	display: flex;
	justify-content: center;

	@include sm-screen-max  {
		display: none;
	}
}

.check-label, .burger-line {
	display: none;

	@include sm-screen-max {
		display: block;
	}
}

.check-label {
	display: block;
	cursor: pointer;
	z-index: 2;
	opacity: 0;

	@include sm-screen-max  {
		opacity: 0;
		line-height: 40px;
	}
}

#check-menu {
	display: none;
}

#check-menu:checked ~ .main-menu {

	@include sm-screen-max {
		max-height: 400px;
		font-size: 16px;
		position: absolute;
		top: 0;
		right: 0;
	}
}

#check-menu:checked ~ .first {

	@include sm-screen-max {
		display: none;
	}
}

#check-menu:checked ~ .second {

	@include sm-screen-max {
		transform: rotate(45deg);
	}
}

#check-menu:checked ~ .third {

	@include sm-screen-max {
		transform: rotate(-45deg);
	}
}

#check-menu:checked ~ .fourth {

	@include sm-screen-max {
		display: none;
	}
}

.main-menu {

	@include sm-screen-max {
		display: block;
		position: absolute;
		bottom: 0;
		right:  0;
		transform: translateY(100%);
		max-height: 0;
		font-size: 0;
		transition: .5s all;
		margin:0;
	}
}

.wrapper {
	position: relative;
	display: block;
}

.burger-line {
	position: absolute;
	top: 8px;
	right: 5px;
	width: 35px;
	height: 2px;
	background-color: $menu;
	transition: .5s all;
	z-index: 10;
}

.second, .third{
	top: 18px;
}

.fourth{
	top: 28px;
}

.to-top__link {
	position: fixed;
	z-index: 10;
	right: 70px;
	bottom: 100px;
}

.to-top__img {
	fill:$menu;
}

