.ch-gallery {
	background-color: #ffe92f;
	padding: 100px 0;
	color: $menu;

	&__title {
		font-size: 90px;
		font-weight: bold;
		text-align: center;
		text-transform: capitalize;
		margin-bottom: 40px;
	}

	&__subtitle {
		font-size: 17px;
		font-weight: 300;
		width: 100%;
		max-width: 570px;
		margin: auto;
		text-align: center;
		line-height: 1.4;
		margin-bottom: 50px;
	}
}

.peach {
	background: url(../img/gallery1.jpg) no-repeat;
}

.blueberries {
	background: url(../img/gallery2.jpg) no-repeat;
}

.blackberry {
	background: url(../img/gallery3.jpg) no-repeat;
}

.glass {
	background: url(../img/gallery4.jpg) no-repeat;
}
.persimmon {
	background: url(../img/gallery5.jpg) no-repeat;
}
