.ch-gallery {
	background-color: #ffe92f;
	padding: 100px 0;
	color: $menu;

	&__title {
		font-size: 90px;
		font-weight: bold;
		text-align: center;
		text-transform: capitalize;
		margin-bottom: 40px;
	}
	&__subtitle {
		font-size: 17px;
		font-weight: 300;
		width: 100%;
		max-width: 570px;
		margin: auto;
		text-align: center;
		line-height: 1.4;
		margin-bottom: 50px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		
	}

	&__list {
		
		
	}

	&__link {
		
	}


	.large {
		height: 545px;
		max-width: 770px;
		min-width: 770px;
		position: relative;
	}

	.middle {
		display: flex;
		width: 100%;
		min-width: 570px;
		max-width: 570px;
		height: 400px;

	}

	.small {
		width: 100%;
		min-width: 370px;
		max-width: 370px;
		height: 260px;

	}







	&__btn {
		display: block;
		background-color: $gallery-btn;
		color: $letter-color;
		text-transform: uppercase;
		font-weight: 300;
		text-align: center;
		font-size: 20px;
		text-decoration: none;
		padding: 15px 0;
		max-width: 200px;
		margin: auto;

		&:hover {
			background-color: $letter-color;
			font-weight: 700;
			color: $gallery-btn;
		}
	}

}
.peach {
	background: url(../img/gallery1.jpg) no-repeat;
}

.blueberries {
	background: url(../img/gallery2.jpg) no-repeat;
}

.blackberry {
	background: url(../img/gallery3.jpg) no-repeat;
}

.glass {
	background: url(../img/gallery4.jpg) no-repeat;
}
.persimmon {
	background: url(../img/gallery5.jpg) no-repeat;
}
