.ch-services {
	background-color: $bg-services;
	padding: 180px 0 150px;

	&__content {
		display: flex;
		justify-content: space-around;

		@include lg-screen-max {
			display: flex;
			flex-direction: column-reverse;
		}

		&-left {
			display: flex;
			flex-direction: column;
			justify-content: center;
			max-width: 400px;
			margin:auto;
		}

		&-right {
			position: relative;

			&-title {
				color:$letter-color;
				font-size: 75px;
				position: absolute;
				left:0;
				top:180px;
				line-height: 100px;

				@include lg-screen-max {
					position: static;
					text-align: center;
					margin-bottom: 40px;
				}
			}

			&-bg {

				@include lg-screen-max {
					display: none;
				}
			}
		}

	}

	&__svg {
		position: absolute;
		right: 25px;
		top: 25px;
	}

	&__btn {
		background: $letter-color;
		display: block;
		text-decoration: none;
		color:$black;
		min-width: 400px;
		min-height: 100px;
		position: relative;

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		&::before {
			content: "";
			display: block;
			height: 100px;
			width: 0;
			border-left: 1px solid $border-services;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 25%;
			pointer-events: none;
			cursor: auto;
		}

		&-title {
			padding: 35px;
			width: 300px;
			text-align: center;
		}
	}
}