// color
$black:#000;
$laghtblue:#00b2b2;
$menu:#262626;
$line-menu:#ff6033;
$bg:#f8f7fa;
$title-font:#262626;
$letter-color:#fff;
$bg-about:#00bcbc;
$bg-services:#70bfff;
$border-services:#9d9d9d;
$subscribe-btn:#96b92c;

$gallery-bg:#ffe92f;
$gallery-btn:#5585a2;

$blog-btn:#f72b3b;


$input-contact:#7cdede;
$input-action:#00c4c4;
$input-line:#355b82;
$input-btn:#3477ac;

$footer-ankor:#ff2b58;

// fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');


$font-logo:'Pacifico', cursive;
$font:'Raleway', sans-serif;


$color:green;
