.bh-first-screen {
	background: url("../img/bg-header.jpg") center/cover no-repeat;
	min-height: 100vh;

	&__content {
		display: flex;
		color:$white;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	&__text {
		text-align: center;
	}


	&__title {
		text-transform: uppercase;
		margin-bottom: 15px;
	}

	&__subtitle {
		margin-bottom: 50px;
	}

	&__search {
		margin-bottom: 50px;

		@include md-screen-max {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&-place {
			width: 500px;
			height: 60px;
			text-align: center;

			@include md-screen-max {
				margin-bottom: 20px;
			}
		}

		&-btn {
			height: 60px;
			width: 145px;
			background-color: $button-blue;
			color:$white;
			text-transform: uppercase;
			border:3px solid $white;

			&:hover  {
				background-color: darken($button-blue, 10%);
			}
		}
	}


	&__scrool {

		&-link {
			text-decoration: none;
			color: $white;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&-text {
			text-transform: capitalize;
			margin-bottom: 10px;
		}
	}

	&__footer {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: $blue;
		display: flex;
		height: 80px;
		justify-content: space-around;
		z-index: 1;

		&-logo {
			text-decoration: none;
			color:$white;
			font-family: $main-font;
			font-size: $logo-size;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			margin-right: 40px;
		}

		&-nav {
			list-style: none;
			display: flex;
			align-items: center;
			font-size:$navigation-size;
			font-family:$secondary-font;
		}

		&-link {
			text-transform: uppercase;
			text-decoration: none;
			color: $white;

			&:hover {
				opacity: 0.6;
			}
		}

		&-item:not(:last-child) {
			margin-right: 40px;

		}

	}

}

.scrool-svg {
	fill:$white;
	height: 12px;
	width: 14px;
}


