.bh-tourist {
	background: url("../img/travel.jpg") center/cover no-repeat #3b434c;
	background-size: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;


	&::before {
		content:'';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 10% 0;
	}

	&__title {
		display: flex;
		justify-content: center;
		color: $white;
		font-size:$section-title;
		font-family: $secondary-font;
		margin-bottom: 100px;
	}

	&__content {
		display: flex;


		&-left {
			margin-bottom: -3px;
			max-width:445px;


			@include md-screen-max {
				display: none;
			}

		}

		&-right {
			color: $white;
			background-color:$sam-sumon;
			max-width: 600px;
			// display: flex;
			// flex-direction: column;
			// justify-content: center;
			padding:50px 60px;
			&-title {
				text-transform: uppercase;
			}

		}
	}
}

.overlay {
	position: relative;
}

.quote {
	height: 19px;
	width: 19px;
	fill:$kavychki;
}




