* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
}

.container {
	width: 100%;
	margin: auto;
	padding: 0 15px;
	max-width: 1140px;
}

  #map {
   	height: 100%;
   }
   /* Optional: Makes the sample page fill the window. */
   html, body {
   	height: 100%;
   	margin: 0;
   	padding: 0;
   }