* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  scroll-behavior: smooth;
}

.container {
	width: 100%;
	margin: auto;
	padding: 0 15px;
	max-width: 1140px;
}

#map {
  height: 75vh;
}

ul {
  list-style: none;
   li {
    a {
      display: flex;
      text-decoration: none;
    }
  }
}