.footer {
	background: $footer-bg;
	height: 100%;
	padding: 55px 30px;
	display: flex;

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__text {
		color: $footer-color;
	}

	&__list {
		display: flex;
	}

	&__item:not(:last-child) {
		margin-right: 30px;
	}

	&__pic {
		color: #fff;
		width: 20px;
		height: 20px;
	}
}