.contacts {
	background-color: $form-bg;
	color: $white;
	padding: 55px 0 58px;

	&__aboutus {

		@include md-screen-max {
			margin-bottom: 20px;
		}

		&-title {
			position: relative;
			font-size: 25px;
			font-weight: bold;

			&:after {
				display: block;
				content: '';
				width: 30px;
				height: 2px;
				background: $footer-bg;
				margin: 46px auto 54px;
			}
		}
	}

	&__aboutus {
		border: 1px solid $header-menu;
		text-align: center;
		min-height: 500px;
		padding: 95px 92px 149px;

		&-text {
			font-family: 'Crimson Text', serif;
		    line-height: 1.7rem;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		border: 1px solid $header-menu;
		min-height: 500px;
		padding: 95px 70px 76px;
		overflow: hidden;

		&-title {
			margin-bottom: 30px;
			text-align: center;
			font-size: 25px;
			font-weight: bold;
		}

		&-label {
			text-transform: uppercase;
			margin-bottom: 21px;
		}

		&-email {
			padding: 0 5px;
			height: 33px;
			margin-bottom: 60px;
			border: 0;
			color: $white;
			border-bottom: 1px solid $header-menu;
			background: linear-gradient(transparent 49px, $header-menu 1px);
		}

		&-message {
			margin: 0;
			padding: 0 5px;
			border: 0;
			resize: none;
			line-height: 50px;
			vertical-align: bottom;
			background: linear-gradient(transparent 49px, $header-menu 1px);
			background-size: 100% 50px;
			background-repeat: repeat-y;
			color: $white;
			margin-bottom: 20px;
		}

		&-btn {
			color: $footer-bg;
			background: transparent;
			border: 0;
			border-color: transparent;
			border-radius: 0;
			padding: 10px 0;
			outline: none;
			box-shadow: none;
			min-width: 100px;
			text-transform: uppercase;

			&:hover {
				background: $footer-bg;
				color: $white;
			}
		}
	}
}