@font-face {
	font-family: 'Montserrat', sans-serif;
	font-style: normal,
	url('../assets/fonts/Montserrat-Regular.ttf');
}

$header-menu:#707070;
$white:#fff;










$footer-bg:#00c7fc;
$footer-color:#fff;