.picture {
	width: 100%;
	display: flex;
	justify-content: center;

	&__item {
		margin-right: 10px;
		margin-bottom: 10px;

		&:hover {
			transition: $transition;
			opacity: .6;
		}
	}


	&__img:ntn-child(2),
	&__img:ntn-child(5) {
		flex-basis: 42%;
	}

	&__img {
		flex-basis: 29%;
	}


	&__list {
		width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		list-style: none;

	}

	&__content {
		width: 100%;
		position: relative;
		text-decoration: none;
	}

	&__title {
		display: flex;
		position: absolute;
		left: 46px;
		bottom: 36px;
		color: white;
		font-size: 34px;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.4rem;


	}
}




