<section class="container">
	<div class="portfolio">
		<div class="row justify-content-center mb-70">
			<div class="col-6">
				<div class="portfolio__top">
					<img class="portfolio__top-img" src="<%= blocks.imgholder %>75/75/any" alt="">
					<div class="portfolio__top-titles">
						<h2 class="portfolio__top-title">What we do?</h2>
						<h5 class="portfolio__top-subtitle">Everything you need to do business intelligence right.</h5>
					</div>
				</div>
			</div>
		</div>

		<div class="row portfolio__grid">
			<%- partial('portfolio-item') %>
		</div>
	</div>
</section>