* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

html,body {
	height: 100%;
}

body {
	font-family: sans-serif;
	max-width: 1200px;
	margin: 0 auto;
}
 
.title {
	background: gray;
	width: 100%;
}

.container {
	width: 100%;
	margin: 0 auto;
}

.container_form {
	margin: 0 auto;

}

.container_ul {
	list-style: none;
}

.container_li {
	position: relative;
}

.container_li:nth-child(odd) {
 background: red;
}

.container_li:nth-child(even) {
 background: green;
}

.container_label {
	width: 30%;
	color: white;
	text-decoration: none;
	/*border: 6px solid #ABC7EA;*/
	display: block;
	padding-left: 10px;
	height: 44px;
	line-height: 44px;
	font-size: 20px;
	position: relative;
	transition: 0.3s linear;
	background-color: grey;
}

[type="checkbox"] {
	margin-right: 20px;

}

.container_li::after {
	content: "";
	width: 6px;
	height: 70%;
	background: #EE997C;
	position: absolute;
	top: 15%;
	left: -12px;


}

.container_li::before {
	content: "";
	width: 6px;
	height: 40%;
    background: #EFDD89;
	position: absolute;
	top: 30%;
	left: -12px;
}

.container_label:hover {
	background: #D4D8D9;
}