* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
}

.container {
	width: 100%;
	margin: auto;
	padding: 0 15px;
	max-width: 1140px;
}

.wrapper {
	display: block;
	box-shadow: 3px 3px 10px 0 rgba(0,0,0,.5);
}

.header {
	display: flex;
	background-color:$header-bg;
	padding: 40px 100px;
	align-items: center;
	justify-content: space-around;

	@include sm-screen-max {
		padding: 20px;
	}

	@include xs-screen {
		display: block;
		text-align: center;
	}

	&__photo {
		height: 200px;
		width: 200px;
		border-radius: 50%;
	}

	&__wrapper {
		display: block;
	}

	&__name {
		text-transform: uppercase;
		font-size: 60px;
		margin-bottom: 30px;

		@include sm-screen-max {
			font-size: 30px;
		}
	}

	&__text {
		margin-bottom: 20px;
	}
}

.content {
	display: flex;

	@include sm-screen-max {
		display: block;
	}
}

.left {
	padding: 50px;
	margin-right: 35px;
	background-color: $left-bg;
	height: 100%;
	width: 40%;
	color: $left-color;

	@include sm-screen-max {
		width: 100%;
		padding: 20px 50px;
	}

	&__text {

		&:not(:last-child) {
			margin-bottom: 100px;

			@include sm-screen-max {
				margin-bottom: 20px;
			}
		}
	}

	&__list {
		list-style: none;
		margin-bottom:90px;

		@include sm-screen-max {
			margin-bottom: 20px;
		}
	}

	&__span {
		text-transform: capitalize;
	}

	&__link {
		color:$left-color;
		text-decoration: none;
	}
}

.right {
	width: 60%;
	padding: 30px 50px 29px;

	@include sm-screen-max {
		width: 100%;
		padding-bottom: 30px;
	}

	&__wrapper {
		padding: 20px 0;
		margin-bottom: 20px;

		@include sm-screen-max {
			margin-bottom: 0;
			padding: 0;
		}
	}

	&__block {
		margin-bottom: 20px;
	}
}