/*
* Photo Gallery — Practice
* CSS Styles
*
* Start typing your code under these comments
*/

.carousel {
 margin-bottom: 0;
 padding: 0 40px 30px 40px;
}
.carousel-control {
 left: -12px;
}
.carousel-control.right {
 right: -12px;
}
.carousel-indicators {
 right: 50%;
 top: auto;
 bottom: 0px;
 margin-right: -19px;
}
.carousel-indicators li {
 background: #c0c0c0;
}
.carousel-indicators .active {
background: #333333;
}


.portfolio  {

    &__wrapper {
        display: flex;
        justify-content: center;
    }

    &__card {
        position: relative;
        width: 320px;
        height: 555px;
        overflow: hidden;
        outline: none;

        &:hover .description {
            transform: translateY(-100%);
        }

        &-title {
            text-transform: uppercase;
            margin-bottom: 60px;
            font-size: 15px;
        }

        &-text {
            margin-bottom: 55px;
            font-family: 'Crimson Text', serif;
            line-height: 1.5em;
        }

        &-pic {
            fill:white;
            width: 20px;
            height: 20px;
        }

    }

    .description {
        position: absolute;
        width: 100%;
        height: 370px;
        padding: 61px 33px 54px;
        background: blue;
        opacity: .8;
        color: white;
        text-align: center;
        transition: all .3s ease;
    }

    .social-list {
        display: flex;
        justify-content: center;

        li:not(:last-child) {
            margin-right: 35px;
        }
    }
}
